<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<?php $style = 'padding-right:50px;padding-left:50px;'; ?>
<div class="box-right">
    <!--Gift Wrap-->
    <div class="entry-edit">
        <div class="entry-edit-head">
            <h4 class="icon-head head-shipping-method"><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap'); ?></h4>
        </div>
        <fieldset>
            <table>
                <tr>
                    <?php if ($this->getOrder()->getAmgiftwrapDesignId() > 0) { ?>
                        <td style="padding-bottom:20px;"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap'); ?></strong></td>
                        <td></td>
                    <?php
                    } else {
                        $style = '';
                    } ?>
                    <td style="<?php echo $style; ?>"><strong><?php echo Mage::helper('amgiftwrap')->__('Message Card'); ?></strong></td>
                    <td></td>
                </tr>
                <tr>
                    <?php if ($this->getOrder()->getAmgiftwrapDesignId() > 0) { ?>
                        <td style="padding-right:50px;">
                            <strong><?php echo Mage::helper('amgiftwrap')->__('Design'); ?></strong>
                            <span><?php echo($this->getDesign()->getName() ? '<a href="' . Mage::helper("adminhtml")->getUrl("adminhtml/amgiftwrap_design/edit/id/" . $this->getDesign()->getDesignId() . "/") . '">' . $this->getDesign()->getName() . '</a>' : Mage::helper('amgiftwrap')->__('Deleted design')); ?></span>
                        </td>
                        <td>
                            <img width="70px" src="<?php echo Mage::helper('amgiftwrap')->getImageThumbnail($this->getDesign()->getImage(), 'design'); ?>">
                        </td>
                    <?php } ?>
                    <td style="<?php echo $style; ?>">
                        <strong><?php echo Mage::helper('amgiftwrap')->__('Design'); ?></strong>
                        <span><?php echo($this->getCard()->getName() ? '<a href="' . Mage::helper("adminhtml")->getUrl("adminhtml/amgiftwrap_cards/edit/id/" . $this->getCard()->getCardsId() . "/") . '">' . $this->getCard()->getName() . '</a>' : Mage::helper('amgiftwrap')->__('Deleted message card')); ?></span>
                    </td>
                    <td>
                        <img width="70px" src="<?php echo Mage::helper('amgiftwrap')->getImageThumbnail($this->getCard()->getImage(), 'cards'); ?>">
                    </td>
                </tr>
            </table>
            <div>
                <br/>
                <strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap Price'); ?></strong>
                <span class="price"><?php echo Mage::helper('core')->currency($this->getOrder()->getAmgiftwrapAmount(), true, false); ?></span>
                <br/><strong><?php echo Mage::helper('amgiftwrap')->__('Separate note'); ?>: </strong>
                <span
                    class="price"><?php echo $this->getOrder()->getAmgiftwrapSeparateWrap() ? Mage::helper('amgiftwrap')->__('wrap each item separately') : Mage::helper('amgiftwrap')->__('wrap all items in one gift'); ?></span>
            </div>
        </fieldset>
    </div>
</div>