<?php /** @var LaPoste_Expeditor_Block_Adminhtml_Expeditor_Export_Grid_Renderer_Code $this */ ?>
<select class="colissimo-code" name="code" rel="<?php echo $this->getOrderId() ?>">
<?php foreach ($this->getCodes() as $code => $label): ?>
    <option value="<?php echo $code ?>"<?php if ($this->getExpeditorProductCode() == $code): ?> selected="true"<?php endif ?>><?php echo $label ?></option>
<?php endforeach; ?>
</select>