/* Grid */
.head-adminhtml-expeditor-export,
.head-adminhtml-expeditor-import,
.head-adminhtml-expeditor-import-file{background-image: url('../images/colissimo.png')}

/* Expeditor import */
.expeditor-csv-title{display:block;font-weight:bold;margin-top:10px}
.expeditor-csv-file{font-size:11px;background:#fff;border:1px solid #ccc;padding:5px;display:block;margin-top:5px}