<?php /** @var LaPoste_Colissimo_Block_Frontend_Colissimo_Pickup_List $this */ ?>
<?php $pickups = $this->getList() ?>

<div id="colissimo-header"><h1><?php echo $this->__('Select a delivery address') ?></h1></div>

<div id="colissimo-content">
    <span class="no-display"><input name="shipping_method" type="radio" value="pickup_colissimo" checked="checked" /></span>

    <div id="colissimo-address" class="colissimo-form">
        <p>
            <label for="colissimo-street"><?php echo $this->__('Street') ?></label>
            <input id="colissimo-street" name="address" type="text" value="<?php echo $this->getAddress() ?>" class="colissimo-street"/>
        </p>
        <p>
            <label for="colissimo-postcode"><?php echo $this->__('Postcode') ?> <span class="colissimo-required">*</span></label>
            <input id="colissimo-postcode" name="postcode" type="text" value="<?php echo $this->getPostcode() ?>" class="colissimo-postcode<?php if (!$this->getPostcode()): ?> colissimo-required-error<?php endif; ?>" />
        </p>
        <p>
            <label for="colissimo-city"><?php echo $this->__('City') ?> <span class="colissimo-required">*</span></label>
            <input id="colissimo-city" name="city" type="text" value="<?php echo $this->getCity() ?>" class="colissimo-city<?php if (!$this->getCity()): ?> colissimo-required-error<?php endif; ?>"/>
        </p>
        <?php $countries = $this->getCountries() ?>
        <?php if(count($countries) > 1): ?>
            <p>
                <label for="colissimo-country"><?php echo $this->__('Country') ?> <span class="colissimo-required">*</span> :</label>
                <select name="country_id" id="colissimo-country" class="colissimo-country">
                    <?php foreach($countries as $code => $country): ?>
                        <option value="<?php echo $code ?>" <?php if($this->getCountryId() == $code): ?> selected="selected"<?php endif; ?>><?php echo $country ?></option>
                    <?php endforeach; ?>
                </select>
            </p>
        <?php else: ?>
            <?php reset($countries) ?>
            <input type="hidden" name="country_id" value="<?php echo key($countries) ?>" />
        <?php endif; ?>
        <div class="colissimo-actions">
            <input type="hidden" name="context" value="<?php echo $this->getContext() ?>" />
            <button type="submit" class="colissimo-next"><span><?php echo $this->__('Update') ?></span></button>
        </div>
    </div>

    <?php if (count($pickups)): ?>
        <?php if ($this->getShowMap()): ?>
            <div id="colissimo-map"></div>
        <?php endif; ?>
        <ul id="colissimo-list">
            <?php foreach ($pickups as $pickup): ?>
                <?php /** @var LaPoste_Colissimo_Model_Pickup $pickup */ ?>
                <li<?php if ($pickup->getIdentifiant() == $this->getPickupId()): ?> class="active"<?php endif; ?>>
                    <input type="radio" value="<?php echo $pickup->getIdentifiant(); ?>-<?php echo $pickup->getReseau() ?>" name="pickup" id="colissimo-pickup-<?php echo $pickup->getIdentifiant(); ?>"<?php if ($pickup->getIdentifiant() == $this->getPickupId()): ?> checked="checked"<?php endif; ?> />
                    <label for="colissimo-pickup-<?php echo $pickup->getIdentifiant(); ?>">
                        <strong><?php echo $pickup->getNom() ?></strong><br />
                        <?php echo $pickup->getAdresse1() ?> - <?php echo $pickup->getCodePostal() ?> <?php echo $pickup->getLocalite() ?><br />
                    </label>
                    <ul class="colissimo-info" id="colissimo-info-<?php echo $pickup->getIdentifiant(); ?>-<?php echo $pickup->getReseau() ?>"<?php if ($pickup->getIdentifiant() != $this->getPickupId()): ?> style="display:none"<?php endif; ?>>
                        <?php if($this->isHoliday($pickup)): ?>
                            <li class="colissimo-holiday">
                                <?php echo $this->__('Closed from %s to %s', $this->getHolidayStart($pickup), $this->getHolidayEnd($pickup)) ?>
                            </li>
                        <?php endif; ?>
                        <li class="colissimo-schedule">
                            <span><?php echo $this->__('Monday') ?> :</span> <?php echo $pickup->getHorairesOuvertureLundi() ?: $this->__('Closed') ?><br />
                            <span><?php echo $this->__('Tuesday') ?> :</span> <?php echo $pickup->getHorairesOuvertureMardi() ?: $this->__('Closed') ?><br />
                            <span><?php echo $this->__('Wednesday') ?> :</span> <?php echo $pickup->getHorairesOuvertureMercredi() ?: $this->__('Closed') ?><br />
                            <span><?php echo $this->__('Thursday') ?> :</span> <?php echo $pickup->getHorairesOuvertureJeudi() ?: $this->__('Closed') ?><br />
                            <span><?php echo $this->__('Friday') ?> :</span> <?php echo $pickup->getHorairesOuvertureVendredi() ?: $this->__('Closed') ?><br />
                            <span><?php echo $this->__('Saturday') ?> :</span> <?php echo $pickup->getHorairesOuvertureSamedi() ?: $this->__('Closed') ?><br />
                            <span><?php echo $this->__('Sunday') ?> :</span> <?php echo $pickup->getHorairesOuvertureDimanche() ?: $this->__('Closed') ?>
                        </li>
                    </ul>
                </li>
            <?php endforeach; ?>
        </ul>

        <?php if ($this->showDeliverForm()): ?>
            <div id="colissimo-customer" class="colissimo-form">
                <p>
                    <label for="colissimo-customer-lastname"><?php echo $this->__('Lastname') ?> <span class="colissimo-required">*</span></label>
                    <input id="colissimo-customer-lastname" name="lastname" type="text" value="<?php echo $this->getLastname() ?>" />
                </p>
                <p>
                    <label for="colissimo-customer-firstname"><?php echo $this->__('Firstname') ?> <span class="colissimo-required">*</span></label>
                    <input id="colissimo-customer-firstname" name="firstname" type="text" value="<?php echo $this->getFirstname() ?>" />
                </p>
                <?php if ($this->phoneIsRequired()): ?>
                    <p>
                        <label for="colissimo-customer-telephone"><?php echo $this->__('Mobile phone') ?> <span class="colissimo-required">*</span></label>
                        <?php echo $this->getPhoneCode() ?> <input id="colissimo-customer-telephone" name="telephone" type="text" value="<?php echo $this->getTelephone() ?>" />
                    </p>
                <?php endif; ?>
            </div>
        <?php endif; ?>

        <div id="colissimo-next" class="colissimo-actions">
            <button type="button" class="colissimo-next">
                <span><?php echo $this->__('Continue') ?></span>
            </button>
        </div>

    <?php else: ?>
        <p class="notfound"><?php echo $this->__('No address was found near the specified address') ?></p>
    <?php endif; ?>

    <script type="text/javascript">
        //<![CDATA[
        shippingMethod.pickuplistInit(<?php echo $this->getPickupAsJson() ?>);
        //]]>
    </script>

</div>
