<?php
/**
 * Author : Dee
 *
 */
?>

<?php if (($_products = $this->getItemCollection()) && count($this->getItemCollection()->getItems())): ?>
<div id="upsell-prod">
    <div class="title">
            <?php echo $this->__('-10% discount for these products'); ?>
    </div>
    <div class="upsell-content">
        <div class="prodbycat">
            <ul>
                <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                <?php if($i<3): ?>
                <li class="prod_by_cat">
                    <div class="prod_by_cat_image">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200) ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                        </a>
                    </div>

                    <h2 class="prod_by_cat_title">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                    <?php if(strlen($this->htmlEscape($_product->getName()))<=53): ?>
                                        <?php echo $this->htmlEscape($_product->getName()); ?>
                                    <?php else: ?>
                                        <?php echo substr(strip_tags(nl2br($this->htmlEscape($_product->getName()))),0,53)."..."; ?>
                                    <?php endif; ?>
                        </a>
                    </h2>

                    <div class="prod_by_cat_price">
                                <?php /*echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                        <?php echo $this->getPriceHtml($_product, true, '-new')*/ ?>
                                <?php $_coreHelper = $this->helper('core'); ?>
                                <?php $_taxHelper  = $this->helper('tax'); ?>
                                <?php $_finalPrice = $_taxHelper->getPrice($_product, $_product->getFinalPrice()) ?>
                        <div class="price-box">
                            <span class="regular-price">
                                <span class="price"><?php echo $_coreHelper->currency($_finalPrice,true,false) ?></span>
                            </span>
                        </div>
                    </div>

                    <div class="clearall"></div>
                            <?php if($_product->isSaleable()): ?>
                    <button type="button" class="btn_cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')">

                    </button>
                            <?php else: ?>
                    <div class="prod_by_cat_out-of-stock">
                                    <?php echo $this->__('Out of stock') ?>
                    </div>
                            <?php endif; ?>
                </li>
                <?php endif; ?>
                <?php $i++; endforeach; ?>
            </ul>
        </div>
    </div>
</div>
<?php endif; ?>