/* PopUp */
.colissimo-popup-container{height:100%;position:fixed !important;position:absolute;top:0;left:0;bottom:0;width:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);z-index:10000}
.colissimo-popup-inner{width:920px;margin-left:-470px;overflow-y:auto;position:absolute;z-index:10001;left:50%;top:50%;border:1px solid #4A545C;text-align:left;background:url(../images/bg-popup.png);font:12px/1.55 Arial, Helvetica, sans-serif;padding:0}

/* Header */
#colissimo-header{background:url(../images/bg-header.png) repeat-x;height:80px;padding-left:9px}
#colissimo-header h1{font-size:30px;line-height:70px;margin:0;padding:0;color:#fff;background:url(../images/logo.png) no-repeat right;font-weight:normal;text-transform:none}

/* Content */
#colissimo-content{padding:9px}
#colissimo-content .notfound{background:#fff;border:1px solid #ccc;color:#c00;font-size:14px;padding:5px;text-align:center;float:left;width:890px}

/* Actions */
.colissimo-actions{position:absolute;bottom:9px;left:9px;right:9px}
.colissimo-actions button{border:0;cursor:pointer;font-size:14px;font-weight:bold;padding: 0 0 0 5px}
.colissimo-actions button span{line-height:38px;padding:0 20px 0 15px;display:block}
.colissimo-next{float:right;background:url(../images/next-left.png) no-repeat left;color:#fff}
.colissimo-next span{background:url(../images/next-right.png) no-repeat right}

/* Form */
.colissimo-form{background:#fff;border:1px solid #ccc;padding:5px;margin-bottom:20px;float:left;width:890px;min-height:50px;box-sizing:border-box}
.colissimo-form .colissimo-actions{float:right;position:static;bottom:0;left:0;right:0}
.colissimo-form p{float:left;margin:5px 15px 0 0;font-size:14px}
.colissimo-form input,
.colissimo-form select{height:28px;line-height:28px;padding:0 5px;font-size:16px;border:1px solid #ccc;background:#f5f5f5 url(../images/bg-input.png) repeat-x;width:170px}
.colissimo-form #colissimo-customer-telephone{width:160px}

/* List Address */
#colissimo-address .colissimo-street{width:210px}
#colissimo-address .colissimo-postcode{width:70px}
#colissimo-address .colissimo-city{width:120px}
#colissimo-address .colissimo-country{width:80px}

/* Map */
#colissimo-map{width:500px;height:384px;float:right;border:1px solid #ccc}

/* List */
#colissimo-list{float:left;height:384px;width:383px;overflow-y:scroll;background:#fff;margin-bottom:20px;border:1px solid #ccc}
#colissimo-list li{border-bottom:1px solid #ccc;padding:5px}
#colissimo-list li.active{background:#F3FFF3}
#colissimo-list li input{display:none}
#colissimo-list li label{width:100%;cursor:pointer;display:block}
#colissimo-list .colissimo-info li{border:0}
#colissimo-list .colissimo-info span{font-weight:bold}
#colissimo-customer{clear:both;margin-bottom:10px}
#colissimo-customer li{float:left;margin:0 10px 0 0}
#colissimo-customer .field{width:auto}
#colissimo-customer .input-box{width:280px}
#colissimo-customer .input-box input{width:100%}
#colissimo-next{float:right;margin:10px 0 0 0}

/* Usefull */
.colissimo-required{color:#df280a}
.colissimo-required-error{background:#FFEFEF;border:1px solid #df280a}
.colissimo-holiday{color:#df280a}

/* Mobile */
@media only screen and (max-width:920px){
    .colissimo-popup-inner{width:100%;min-width:350px;margin-left:0;left:0}
    #colissimo-map{position:relative;padding-bottom:50%;height:0;width:100%;overflow:hidden}
    #colissimo-map iframe{position:absolute;top:0;left:0;width:100% !important;height:100% !important}
    #colissimo-header{display:none}
    #colissimo-list{float:none;height:319px;width:100%}
    #colissimo-list li{width:100%}
    .colissimo-form{width:100%}
    .colissimo-form p{float:none}
    .colissimo-form label{width:100px}
    .colissimo-form .colissimo-actions{float:none;position:static}
    .colissimo-actions{margin:10px 0 0 0;float:none;position:static}
    #colissimo-next,.colissimo-next{float:none}
    #colissimo-address .colissimo-street,
    #colissimo-address .colissimo-postcode,
    #colissimo-address .colissimo-city,
    #colissimo-address .colissimo-country{width:60%}
}