<?php /** @var $this LaPoste_Colissimo_Block_Adminhtml_Order_Create_Pickup_List */ ?>
<?php $pickups = $this->getList() ?>
<?php if (count($pickups)): ?>
    <ul id="colissimo-list">
        <?php foreach ($pickups as $pickup): ?>
            <?php /** @var LaPoste_Colissimo_Model_Pickup $pickup */ ?>
            <li>
                <input type="radio" value="<?php echo $pickup->getIdentifiant(); ?>-<?php echo $pickup->getReseau() ?>" name="pickup" id="colissimo-pickup-<?php echo $pickup->getIdentifiant(); ?>"<?php if ($pickup->getIdentifiant() == $this->getPickupId()): ?> checked="checked"<?php endif; ?> />
                <label for="colissimo-pickup-<?php echo $pickup->getIdentifiant(); ?>">
                    <strong><?php echo $pickup->getNom() ?></strong><br />
                    <?php echo $pickup->getAdresse1() ?> - <?php echo $pickup->getCodePostal() ?> <?php echo $pickup->getLocalite() ?><br />
                </label>
            </li>
        <?php endforeach; ?>
    </ul>
<?php endif; ?>