<?php /** @var LaPoste_Colissimo_Block_Frontend_Colissimo_Method_Form $this */ ?>
<div class="inner-box">
<span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $this->getShippingMethod() ?>" checked="checked" /></span>
<p><?php echo $this->__('A mobile phone number is required for this shipping method') ?></p><br />
<ul>
    <li class="fields">
        <div class="field">
            <label for="colissimo-customer-telephone"><?php echo $this->__('Mobile phone') ?> <span class="colissimo-required">*</span></label>
            <div class="input-box" style="margin-bottom:20px;">
                <?php echo $this->getPhoneCode() ?> <input id="colissimo-customer-telephone" class="input-text" name="telephone" type="text" value="<?php echo $this->getTelephone() ?>" />
            </div>
        </div>
    </li>
</ul>
</div>
