<?php
/**
 * @author : Dee
 */
?>

<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<span class="gift-header">
<?php echo $this->__('Customize your gift wrap for 2€ only.'); ?>
</span>
<br/>
<?php echo $this->__('To see our packages in detail, click on the thumbnails.'); ?>
<?php
        //pour le cochage automatique
        $session = Mage::getSingleton('core/session');
        $giftwrap = $session->getData('giftwrap');
?>
<fieldset class="group-select">
<ul>
    <li>
        <input type="radio" name="giftwrap" id="gift-wrap-none" title=""  value="0" <?php if(!$giftwrap || $giftwrap==0) echo 'checked="checked"'; ?>/>
        <label for="gift-wrap-none"><?php echo $this->__('No gift wrap'); ?></label><br />
    </li>
    <?php $i=0; foreach ($_products->getItems() as $_product): ?>
        <li class="giftwrap">
            <a href="#" onclick="popWin('<?php echo $this->helper('catalog/image')->init($_product, 'image') ?>', 'gallery', 'width=300,height=400,left=50,top=50,location=no,status=yes,scrollbars=yes,resizable=yes'); return false;">
                <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(75) ?>" width="75" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
            </a>
            <input type="radio" name="giftwrap" id="gift-wrap-<?php echo $_product->getSku() ?>" title=""  value="<?php echo $_product->getId() ?>" <?php if($_product->getId()==$giftwrap) echo 'checked="checked"'; ?>/>
            <label for="gift-wrap-<?php echo $_product->getSku() ?>"><?php echo $this->htmlEscape($_product->getName()); ?></label><br />      
        </li>
    <?php $i++; endforeach; ?>
</ul>
</fieldset>
<?php endif; ?>