/* Grid */
.head-adminhtml-colissimo-price{background-image:url('../images/colissimo.png')}
.colissimo-price-update{background:transparent;border:0;width:150px;text-decoration:underline}
.colissimo-price-update:focus{font-weight:bold}
.colissimo-price-color{display:block;width:20px; height:20px;margin:0 auto}
.filter-actions .colissimo-price-import{margin-bottom:10px;display:block}

/* Order Create */
#colissimo-list{margin-left:20px}