<?php /** @var $this Mage_Core_Block_Template */ ?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('laposte/colissimo/js/create.js', array('_secure' => true)) ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    order.pickupInit('<?php echo $this->getUrl('adminhtml/colissimo_create/list', array('_secure' => true)) ?>');
    //]]>
</script>