<?php
/**
 * Author : Dee
 *
 */
?>
<div id="minicart">
    <?php $_cartQty = $this->getSummaryCount() ?>
    <div id="yourcart">
        <a href="<?php echo Mage::helper('checkout/url')->getCartUrl() ?>"><?php echo $this->__('My Cart') ?></a>
        <p><?php if ($_cartQty==0): ?><?php echo $this->__('0 item') ?><?php endif?>
            <?php if ($_cartQty==1): ?><?php echo $this->__('1 item') ?><?php endif?>
            <?php if ($_cartQty>1): ?> <?php echo $this->__('%s items', $_cartQty) ?><?php endif?><br/>
            <?php echo $this->__('Total : ')?><?php /*echo Mage::getBlockSingleton('checkout/cart_totals')->renderTotals('footer') ?><?php /*echo Mage::helper('checkout')->formatPrice($this->getSubtotal())*/ ?> 
            <?php $stuff=Mage::getBlockSingleton('checkout/onepage_review_info')->getTotals();
            echo Mage::helper('checkout')->formatPrice($stuff['grand_total']->getValue()) ?>
        </p>
    </div>
    <?php if($this->getSubtotal()>=60): ?>
    <div id="shippingoffered">
        <span title="<?php echo $this->__('In metropolitan France'); ?>">
            <?php echo $this->__('Shipping OFFERED ! *'); ?>
        </span>
    </div>
    <?php endif; ?>
    <?php echo $this->__('<a href="%s" id="minicheckout"></a>', $this->getUrl('checkout/cart')) ?>
</div>
<?php /*$stuff=Mage::getBlockSingleton('checkout/onepage_review_info')->getTotals(); ?>
<?php var_dump($stuff['grand_total']->getValue());
*/?>
<?php
/*
<div class="box base-mini mini-cart">
    <div class="head">
        <?php $_cartQty = $this->getSummaryCount() ?>
        <h4><?php echo $this->__('My Cart') ?></h4>
        <?php if ($_cartQty>0): ?>
            <?php if ($_cartQty==1): ?>
                <?php echo $this->__('There is <a href="%s"><strong>1 item</strong></a> in your cart.', $this->getUrl('checkout/cart')) ?>
            <?php else: ?>
                <?php echo $this->__('There are <a href="%s"><strong>%s items</strong></a> in your cart.', $this->getUrl('checkout/cart'), $_cartQty) ?>
            <?php endif ?>
        <p class="subtotal">
                <?php echo $this->__('Cart Subtotal:') ?> <strong><?php echo Mage::helper('checkout')->formatPrice($this->getSubtotal()) ?></strong>
                <?php if ($_subtotalInclTax = $this->getSubtotalInclTax()): ?>
            <br />(<strong><?php echo Mage::helper('checkout')->formatPrice($_subtotalInclTax) ?></strong> <?php echo Mage::helper('tax')->getIncExcText(true) ?>)
                <?php endif; ?>
        </p>
        <?php endif ?>
    </div>

    <?php if($_cartQty && $this->isPossibleOnepageCheckout()): ?>
    <div class="actions">
        <button class="form-button" type="button" onclick="setLocation('<?php echo $this->getCheckoutUrl() ?>')">
            <span><?php echo $this->__('Checkout') ?></span>
        </button>
    </div>
    <?php endif ?>

    <?php $_items = $this->getRecentItems() ?>
    <?php if(count($_items)): ?>
    <h5><?php echo $this->__('Recently added item(s)') ?></h5>
    <ol id="cart-sidebar">
            <?php foreach($_items as $_item): ?>
                <?php echo $this->getItemHtml($_item) ?>
            <?php endforeach; ?>
    </ol>
    <script type="text/javascript">decorateList('cart-sidebar', 'non-recursive')</script>
    <?php else: ?>
    <div class="content"><p><?php echo $this->__('You have no items in your shopping cart.') ?></p></div>
    <?php endif ?>
</div>
<!-- [ends] .cart-sidebar // -->
 *
 */
?>
