<script type="text/javascript" src="<?php echo $this->getSkinUrl('laposte/colissimo/js/update.js', array('_secure'=>true)) ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    new PriceUpdate('<?php echo $this->getUrl('adminhtml/colissimo_price/saveGridData', array('_secure' => true)) ?>');
    //]]>
</script>