<?php
/**
 * Author : Dee
 * 
 */
?>
<?php // Grid Mode ?>
<div id="listcategoriestop"></div>
<div id="listcategoriesbody">
<?php $_categories=$this->getCurrentChildCategories(); ?>
    <?php $i=0; foreach ($_categories as $_category): ?>
        <?php if($i++%3==0): ?>
        <ul>
        <?php endif; ?>
            <li class="listcatitem">
                <p class="product-image">
                    <a href="<?php echo $_category->getURL() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>">
                        <img src="<?php echo Mage::getModel('catalog/category')->load($_category)->getImageUrl(); ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($_category->getName()) ?>" />
                    </a>
                </p>
                <h2 class="titlecat"><a href="<?php echo $_category->getURL() ?>" title="<?php echo $this->htmlEscape($_category->getName()) ?>"><span<?php if(strlen($_category->getName())>=27) echo ' style="top:2px;"'?>><?php echo $this->htmlEscape($_category->getName()) ?></span></a></h2>
            </li>
        <?php if($i%3==0): ?>
        </ul>
        <?php endif; ?>
    <?php endforeach; ?>
    <div class="clearall"></div>
</div>
<div id="listcategoriesbottom"></div>

