<form method="post" action="<?php echo $this->getImportUrl() ?>" class="colissimo-price-import" id="price_import_form" enctype="multipart/form-data">
    <input name="form_key" type="hidden" value="<?php echo $this->getFormKey(); ?>" />
    <input type="file" name="file" value="" />
    <button id="price_import_button" type="button" class="scalable">
        <span><span><span><?php echo $this->__('Import'); ?></span></span></span>
    </button>
</form>
<script type="text/javascript">
    $('price_import_button').observe('click', function(event) {
        event.stop();
        $('price_import_form').submit();
    });
</script>