<?php
/**
 * Author : Dee
 * 
 */
?>

<script type="text/javascript">
    jQuery(document).ready( function(){
        jQuery('#newprod').innerfade({
            animationtype: 'fade',
            speed: 'slow',
            timeout: 3500,
            type: 'sequence'}); });
</script>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>

<div class="part right" >
    <h1><?php echo $this->__('Promotions') ?></h1>
    <div class="partcontent promoprod">
        <ul id="newprod">
            <?php /*$category = Mage::getModel('catalog/category')->load($this->getCategoryId());
                var_dump($category->getId());*/ ?>
            <?php $i=0; foreach ($_products->getItems() as $_product): ?>
            <li>
                <div class="prod_indiv">
                    <h2 class="prod_title">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                            <?php if(strlen($this->htmlEscape($_product->getName()))<=27): ?>
                            <?php echo $this->htmlEscape($_product->getName()); ?>
                            <?php else: ?>
                            <?php echo substr(strip_tags(nl2br($this->htmlEscape($_product->getName()))),0,27)."..."; ?>
                            <?php endif; ?>
                        </a>
                    </h2>
                    <div class="prod_image">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200) ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                        </a>
                    </div>
                    <div class="prod_sdesc_price">
                        <div class="prod_sdesc">
                            <?php echo substr(strip_tags(nl2br($_product->getShortDescription())),0,60)."..."; ?>
                            <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                            <?php //echo $this->getPriceHtml($_product, true, '-new') ?>
                        </div>
                    </div>

                   <!-- <?php //if($_product->isSaleable()): ?>
                        <button type="button" class="btn_cart" onclick="setLocation('<?php //echo $this->getAddToCartUrl($_product) ?>')">
                        </button>
                        <?php //else: ?>
                        <div class="out-of-stock">
                            <?php //echo $this->__('Out of stock') ?>
                        </div>
                    <?php //endif; ?> -->

                </div><!--prod_indiv-->
            </li>
                    <?php $i++; endforeach; ?>
        </ul>
        <div class="clearall"></div>
    </div>
</div><!--fin classpart-->
<?php endif; ?>