<script type="text/javascript" src="<?php echo $this->getSkinUrl('laposte/expeditor/js/export.js', array('_secure'=>true)) ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    new OrderExport('<?php echo $this->getUrl('adminhtml/colissimo_expeditor/', array('_secure' => true)) ?>');
    //]]>
</script>