<script type="text/javascript" src="<?php echo $this->getSkinUrl('laposte/expeditor/js/import.js', array('_secure' => true)) ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    importTracking = new ImportTracking('<?php echo $this->getUrl('adminhtml/colissimo_expeditor/runImport', array('_secure' => true)) ?>');
    //]]>
</script>