<?php
/**
 * Author : Dee
 *
 */
?>
<div id="menuwrapper">
    <div id="menu">
        <ul id="nav">
            <?php foreach ($this->getStoreCategories() as $_category): ?>
                <?php echo $this->drawItem($_category) ?>
            <?php endforeach ?>
        </ul>
    </div>
    <?php echo $this->getChildHtml('topLeftLinks') ?>
</div>
