<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<tr style="">
    <td colspan="<?php echo $this->getColspan(); ?>"
        style="<?php echo $this->getTotal()->getStyle() ?>"
        class="a-right">
        <?php if ($this->getRenderingArea()
                  == $this->getTotal()->getArea()): ?>
        <strong>
            <?php endif; ?>
            <?php echo $this->escapeHtml(
                $this->getTotal()->getTitle()
            ); ?><br/>
            <?php if ($this->getRenderingArea()
                      == $this->getTotal()->getArea()): ?>
        </strong>
    <?php endif; ?>
    </td>
    <td style="<?php echo $this->getTotal()->getStyle() ?>"
        class="a-right">
        <?php if ($this->getRenderingArea()
                  == $this->getTotal()->getArea()): ?>
        <strong>
            <?php endif; ?>
            <?php echo $this->helper('checkout')
                ->formatPrice($this->getTotal()->getValue()) ?>
            <?php if ($this->getRenderingArea()
                      == $this->getTotal()->getArea()): ?>
        </strong>
    <?php endif; ?>
    </td>
</tr>