<!--@subject {{var order.getStoreGroupName()}}: Mise à jour de l'avoir n°{{var creditmemo.increment_id}} @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var order.getStoreGroupName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p><strong>Bonjour {{var order.getCustomerName()}}</strong>,<br /><br />
                Votre commande n°{{var order.increment_id}} est maintenant <br />
                <strong>{{var order.getStatusLabel()}}</strong>.</p>
                <p>Vous pouvez consulter le statut de votre commande en <a href="{{store url="customer/account/"}}" style="color: #1E7EC8;">logging sur votre compte</a>.</p>
                <p>{{var comment}}</p>
                <p>Si vous avez des questions au sujet d’un conseil, d’une information, de votre commande, n’hésitez pas à nous contacter par mail sur <a href="mailto:client@lilouplaisir.com" style="color: #1E7EC8;">client@lilouplaisir.com</a>
                ou appelez-nous au <span class="nobr">(+33) 04 67 58 96 68</span> du lundi au vendredi, de 9h à 17h.</p>
                <p>A très bientôt,</p>
                <p>
                    Christelle<br/>
                    Chargée de relations clients - Lilou Plaisir<br/>
                    du Lundi au Vendredi de 9h00 à 17h00<br/>
                    9 place Saint Côme - 34000 Montpellier<br/>
                    Téléphone : 04.67.58.96.68<br/>
                    Email : client@lilouplaisir.com
                </p>
                <p><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>
