<!--@subject {{var order.getStoreGroupName()}}: Commande n°{{var order.increment_id}}, Satisfait ? @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var order.getStoreGroupName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                <p><strong>Bonjour {{var order.getBillingAddress().getName()}}</strong>,<br /><br />
                Chez {{var order.getStoreGroupName()}} nous visons toujours à améliorer le service que nous offrons à nos clients. Aussi votre avis nous intéresse !</p>
                <p>Votre commande n°{{var order.increment_id}} vous est parvenue depuis peu de temps et nous espérons que vous en tirez entière satisfaction.</p>
                <p>C’est pour cette raison que nous serions très heureux de connaître vos commentaires et critiques concernant notre service et nos produits.</p>
                {{var review_links}}
                <p>Nous prendrons en considération toutes vos remarques et suggestions, et nous nous efforcerons de combler vos attentes.</p>
                <p>Nous vous remercions pour la confiance que vous nous porter et serions heureux de vous revoir très bientôt sur http://www.lilouplaisir.com</p>
                <p>Si vous avez des questions au sujet d’un conseil, d’une information, de votre commande, n’hésitez pas à nous contacter par mail sur <a href="mailto:client@lilouplaisir.com" style="color: #1E7EC8;">client@lilouplaisir.com</a>
                    ou appelez-nous au <span class="nobr">(+33) 04 67 58 96 68</span> du lundi au vendredi, de 9h à 17h.</p>
                <p>A très bientôt,</p>
                <p>
                    Christelle<br/>
                    Chargée de relations clients - Lilou Plaisir<br/>
                    du Lundi au Vendredi de 9h00 à 17h00<br/>
                    9 place Saint Côme - 34000 Montpellier<br/>
                    Téléphone : 04.67.58.96.68<br/>
                    Email : client@lilouplaisir.com
                </p>
                <p><strong>{{var order.getStoreGroupName()}}</strong>
                </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
