<!--@subject {{var order.getStoreGroupName()}}: Commande n°{{var order.increment_id}} livré @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var order.getStoreGroupName()}}"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                <p><strong>Bonjour {{var order.getBillingAddress().getName()}}</strong>,<br /><br />
                Nous avons le plaisir de vous informer que votre colis est livré pour votre commande passée sur {{var order.getStoreGroupName()}}.
                Nous tenons à vous remercier pour la confiance que vous nous avez apporté et nous vous souhaitons entière satisfaction pour vos produits.</p>
                <p>
                Si ce n’est pas le cas, nous allons vous demander de vérifier si l’un de vos proches, de vos voisins, ou même le gardien, ne l’a pas réceptionné pour vous. Enfin, il vous faudra demander à votre bureau de poste, s’il ne l’a pas conservé. Si vous ne l’avez toujours pas localisé, nous allons engager une enquête auprès des services postaux afin de retrouver votre colis, mais cette enquête prendra plusieurs jours.
                </p>
                <p>Merci de nous tenir informé de l’état de vos recherches.</p>
                <h3 style="border-bottom: 2px solid #eee; font-size: 1.05em; padding-bottom: 1px;">Votre commande n°{{var order.increment_id}} <small>(passée le {{var
                order.getCreatedAtFormated('long')}})</small></h3>
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Informations de facturation :</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mode de paiement :</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.getBillingAddress().format('html')}}
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var payment_html}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{depend order.getIsNotVirtual()}}
                    <table cellspacing="0" cellpadding="0" border="0" width="100%">
                        <thead>
                        <tr>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Informations de livraison :</th>
                            <th width="3%"></th>
                            <th align="left" width="48.5%" bgcolor="#d9e5ee" style="padding:5px 9px 6px 9px; border:1px solid #bebcb7; border-bottom:none; line-height:1em;">Mode de livraison :</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.getShippingAddress().format('html')}}
                                &nbsp;
                            </td>
                            <td>&nbsp;</td>
                            <td valign="top" style="padding:7px 9px 9px 9px; border:1px solid #bebcb7; border-top:0; background:#f8f7f5;">
                                {{var order.getShippingDescription()}}
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br/>
                    {{/depend}}
                    {{layout handle="sales_email_order_items" order=$order}}
                    <br/>
                    {{var order.getEmailCustomerNote()}}
                    <p>Si vous avez des questions au sujet d’un conseil, d’une information, de votre commande, n’hésitez pas à nous contacter par mail sur <a href="mailto:client@lilouplaisir.com" style="color: #1E7EC8;">client@lilouplaisir.com</a>
                    ou appelez-nous au <span class="nobr">(+33) 04 67 58 96 68</span> du lundi au vendredi, de 9h à 17h.</p>
                    <p>A très bientôt,</p>
                    <p>
                        Christelle<br/>
                        Chargée de relations clients - Lilou Plaisir<br/>
                        du Lundi au Vendredi de 9h00 à 17h00<br/>
                        9 place Saint Côme - 34000 Montpellier<br/>
                        Téléphone : 04.67.58.96.68<br/>
                        Email : client@lilouplaisir.com
                    </p>
                    <p><strong>{{var order.getStoreGroupName()}}</strong>
                    </p>
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>
</div>
