<?php
/**
 * Author : Dee
 *
 */
?>
<div id="clientaccount">
    <?php
    /*
    <h3><?php echo $this->__('My account') ?></h3>
    <form action="<?php echo $this->getPostActionUrl() ?>" method="post">
    <input id="email" class="input-text required-entry"
           type="text"
           value="<?php echo $this->__('Email') ?>" name="login[username]" onfocus="this.value=''"/>

    <input id="pass" class="input-text required-entry validate-password"
           type="password"
           value="passwd"
           name="login[password]" onfocus="this.value=''"/>

    <button id="connect" class="form-button" name="send" type="submit" onfocus="this.blur()"></button>
    </form>
    <a href="">><?php echo $this->__('Create an account') ?></a>Mage::helper('customer/getLogoutUrl')*/
    ?>
    <div class="title">
        <a id="account" href="<?php echo Mage::helper('customer')->getDashboardUrl() ?>">
        <?php echo $this->__('My account')?></a>

        <a id="logout" href="<?php echo Mage::helper('customer')->getLogoutUrl() ?>">
        <?php echo $this->__('Log Out')?></a>
    </div>
    <div class="clearall"></div>
    <p><strong><?php echo $this->getWelcome() ?></strong></p>
</div>

