.ampgrid_input_text {
    width: 95%;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font: 12px arial,helvetica,sans-serif;
}

.ampgrid_input_date {
    width: 70%;
}

.ampgrid_input_select {
    width: 95%;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
    border-style: solid;
    border-width: 1px;
    font: 12px arial,helvetica,sans-serif;
}

.ampgrid_sortable {
     background: url(../../images/ampgrid/move.png) 98% 3px no-repeat;
 }

.ampgrid_sortable span {
    cursor: move;
}

.ampgrid_sortable_insertafter {
    border-right: 4px solid #e1d900 !important;
}

.carousel .carousel-control {
    float: left;
    width: 20px;
    height: 100%;
    /*background-color: #AAC8FF;*/
    text-align: center;
    text-decoration: none;
    font-weight: bold;

    line-height: 75px;
}

.carousel .carousel-control.next {
    float: right;
}

.carousel .am_middle {
    float: left;
    overflow: hidden;
    height: 75px;
}

.carousel img {
    float: left;
    padding-left: 2px;
}
