<?php
$category = Mage::getSingleton('catalog/layer')->getCurrentCategory();
$categories = $category->getCollection()
        ->addAttributeToSelect(array('name', 'image'))
        ->addAttributeToFilter('is_active', 1)
        ->addIdFilter($category->getChildren());
?>
<style>
#main .subcategories {
      margin-top: 40px;
}
#main .subcategories li {
  width: 236px;
  height: 260px;
  float: left;
  margin-left: 20px;
  text-align: left;
  border: solid 1px #e5e3e4;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  position: relative;
}
#main .subcategories li > a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  display: block;
}
#main .subcategories li > a > img {
  display: block;
  margin: 0 auto;
  max-height: 185px;
  max-width: 100%;
}
#main .subcategories li > a > span {
  display: block;
  padding: 15px 0;
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 0;
}


@media only screen and (max-width : 767px) {
      #main .subcategories {
            display: block;
            max-width: 516px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
      }
}
@media only screen and (max-width : 640px) {
      #main .subcategories {
            max-width: 350px;
      }
      #main .subcategories li {
            float: none;
            margin-left: auto;
            margin-right: auto;
      }
}
@media only screen and (min-width : 768px) {
      #main .subcategories li {
            width: 232px;
      }
      #main .subcategories li:nth-child(2n+1) {
            margin-left: 0;
      }
}
@media only screen and (min-width : 992px) {
      #main .subcategories li:nth-child(2n+1) {
            margin-left: 20px;
      }
      #main .subcategories li:nth-child(3n+1) {
            margin-left: 0;
      }
}
@media only screen and (min-width : 1200px) {
      #main .subcategories li {
            width: 236px;
      }
}
</style>
<?php
$count = 0;
foreach ($category as $cat ) {
    if( $cat['level'] == 2 ) {
          if($count==0) {
?>
                  <ul class="subcategories">
                      <?php foreach ($categories as $category): ?>
                          <li>
                              <a href="<?php echo $category->getUrl() ?>"><img src="<?php echo $category->getImageUrl();?>" alt="<?php echo $this->htmlEscape($category->getName()) ?>" />
                                  <span><?php echo $category->getName() ?></span></a>
                          </li>
                      <?php endforeach; ?>
                  </ul>
                  <div class="clear"></div>
<?php
          }
          $count++;
    }
}
?>
