<?php
/**
 * Author : Dee
 */
?>
<div class="newsletter_lilou">
    <form action="<?php echo $this->getUrl('newsletter/subscriber/new') ?>" method="post" id="newsletter-validate-detail">
    <fieldset class="content_newsletter_lilou">
            <legend><?php echo $this->__('Newsletter') ?></legend>
            <!--
            <?php if( $message = $this->getErrorMessage() ): ?>
                <p class="error"><?php echo $message ?></p>
            <?php endif; ?>
            <?php if( $message = $this->getSuccessMessage() ): ?>
                <p class="success"><?php echo $message ?></p>
            <?php endif; ?>
            -->
            <label for="newsletter" class="newsletter-msg"><?php echo $this->__('Sign up for our newsletter:') ?></label>
            <img src="<?php echo $this->getSkinUrl('images/mail-newsletter.jpg') ?>" />
            <div class="clearall"></div>
            <div class="newsletterbox">
                <input name="email" type="text" id="newsletter" class="required-entry validate-email input-text" value="<?php echo $this->__('Your Email') ?>" onFocus="if(this.value=='<?php echo $this->__('Your Email') ?>')this.value='';" onBlur="if(this.value=='')this.value='<?php echo $this->__('Your Email') ?>';"/>
                <div class="newsletter-gender">
                    <input type="radio" name="gender" value="M" id="male"><label for="male"><?php echo $this->__('Man') ?></label>
                    <input type="radio" name="gender" value="Mlle" id="female"><label for="female"><?php echo $this->__('Woman') ?></label>
                </div>
                <button type="submit" class="ok-button news-button"></button>
            </div>
            
    </fieldset>
    </form>
<script type="text/javascript">
//<![CDATA[
    var newsletterSubscriberFormDetail = new VarienForm('newsletter-validate-detail');
//]]>
</script>
</div>
<div class="clearall"></div>
