<?php /** @var $this LaPoste_Colissimo_Block_Adminhtml_Order_Info */ ?>

<div class="entry-edit">
    <fieldset>
        <ul>
            <li><strong><?php echo $this->__('Method:') ?></strong> <?php echo $this->getOrder()->getShippingDescription() ?></li>
            <li><strong><?php echo $this->__('Code:') ?></strong> <?php echo $this->getShippingAddress()->getColissimoProductCode() ?></li>
            <li><strong><?php echo $this->__('Weight:') ?></strong> <?php echo (float)$this->getOrder()->getWeight() ?></li>
            <?php if($this->getShippingAddress()->getColissimoNetworkCode()): ?>
                <li><strong><?php echo $this->__('Network:') ?></strong> <?php echo $this->getShippingAddress()->getColissimoNetworkCode() ?></li>
            <?php endif; ?>
            <?php if($this->getShippingAddress()->getColissimoPickupId()): ?>
                <li><strong><?php echo $this->__('Pickup Id:') ?></strong> <?php echo $this->getShippingAddress()->getColissimoPickupId() ?></li>
            <?php endif; ?>
            <li>
                <strong><?php echo $this->__('Address:') ?></strong><br />
                <?php echo $this->getShippingAddress()->getFormated(true) ?>
            </li>
        </ul>
    </fieldset>
</div>