.product_container { width:100%; margin:0 auto; margin-top:0px; padding-left:10px; }
.row_main { width:100%; height:auto; }
.main_div { width:180px; float:left; margin-left:30px; }
.heading { font-family:Arial; font-size:12px; color:#FFF; font-weight:bold; padding-left:10px; float:left; padding-top:0px; }
/*.text { font-family:arial; font-size:12px; color:#676767; font-style:italic; font-weight:normal; line-height:18px; }*/

div.casestudy {
	width: 155px;
	margin: 0 10px 10px 0;
	/*background-color: #ccc;*/
	float: left;
	text-align: left;
}

div.casestudy div.who {
	background-color: #222;
	padding: 5px;
}

div.casestudy div.who h3, div.casestudy div.who h4 {
	margin: 0;
	padding: 2px 0 0 0;
	color: #fff;
	line-height: 1em;
}

div.casestudy div.who h3 {
	font-size: 14px;
}

div.casestudy div.who h4 {
	font-size: 12px;
	font-weight: normal;
	color: #E8ECDC;
}

div.casestudy div.what {
	font-size: 14px;
	text-align: left;
	padding: 5px 0 0 5px;
	font-family: georgia;
	font-style: italic;
	/*background-color: #F5F6F7;*/
	line-height: 1.1em;
}

div.casestudies div.casestudy img.play {
	position: absolute;
	border:0;
}

div.end {
	margin-right: 0;
}

/*--------------------########## Block #######-----------------*/ 

#man_wrapper { width:195px; margin:0 auto; margin-top:30px; }

.man_div_end { clear:both; }

.man_bg { background:url(../../images/manufacturers/bg.jpg) repeat-x #FFF left top; width:195px; border:#c4c1bc 1px solid; }

.man_image { padding:12px; float:left; }

.man_text1 { font-family:Arial; font-size:12px; font-weight:bold; color:#272727; float:left; margin:30px 0 0 0; }

.man_dvd { margin:0 0 0 12px; }

.man_block_title {
background:url("../images/bkg_block-title.gif") repeat-x scroll 0 0 transparent;
border-bottom:1px solid #DDDDDD;
padding:2px 9px;
}

#manfacturerwrapper { width:675px; margin:0 auto; margin-top:5px; }

.div_end { clear:both; }

/*--------------------########## BackGROUND Images #######-----------------*/   /*START*/


.manfacturerimage { padding-right:10px; float:left; }

.manfacturertext { font-family:"Trebuchet MS"; font-size:13px; font-weight:normal; color:#272727;  line-height:22px; }

/* Left Nav block */
.block-content-manufacturers{
width:209px;
/*height:306px;*/
border:1px solid #ccc;
border-top:none;
background:#e3e1e1;
    overflow:hidden;
    /*color:#494949;*/
	margin-bottom: 10px;
}
#narrow-by-list2 {
padding: 0 0 0 0;
}
#narrow-by-list2 dt {
margin: 0;
padding: 7px 10px 7px 28px;
background:url(../../images/narrow_by_set.gif) no-repeat 9px .9em;
color:#611d74;
text-transform:uppercase;
backgroud-color:#d7d5d5;
font-size:12px;
font-weight:bold;
}
#narrow-by-list2 dd{
/*background:url(../../images/narrow_by_dd_bg.gif) repeat-x 0 100%;
padding:0 12px .8em 12px;*/
}
#narrow-by-list2 dd li{
margin:0px;
line-height:1.3em;
}
#narrow-by-list dd.last{
background:none;
}
.list-manufacturers li a{
background:transparent url(../../images/ourbrand2.gif) repeat-x scroll center bottom;
color:#000000;
display:block;
font-size:11px;
min-height:20px;
margin-bottom:2px;
padding-top:4px;
padding-bottom:4px;
text-decoration:none;
/*text-indent:10px;*/
padding-right: 5px;
padding-left: 5px;
font-weight:bold;
}
.list-manufacturers li a:hover{
/*background:transparent url(../images/ourbrand2.gif) repeat-x scroll center top;*/
color:#5E1B70;
text-decoration: underline;
}
#narrow-by-list2 dd, #narrow-by-list2 dl{
padding:0px;
background:none;
}