/* Content */
#colissimo-map{position: relative;padding-bottom:50%;height:0;overflow:hidden}
#colissimo-map iframe {position:absolute;top:0;left:0;width:100% !important;height:100% !important}
#colissimo-list{overflow-y:scroll;height:275px;margin-bottom:20px}
#colissimo-list li{border-bottom:1px solid #ccc;padding:5px 0}
#colissimo-list li.active{background:#F3FFF3}
#colissimo-list li input{display:none}
#colissimo-list li label{width:100%;cursor:pointer;display:block}
#colissimo-list .colissimo-info li{border:0}
#colissimo-list .colissimo-info span{font-weight:bold}
#colissimo-current-address{margin:0 0 10px 0}
#colissimo-current-address p{margin: 0 0 5px 0}
.colissimo-title{font-size:14px;font-weight:bold;margin:0 0 10px 0}
.colissimo-required{color:#df280a}
.colissimo-required-error{background:#FFEFEF;border:1px solid #df280a}
.colissimo-holiday{color:#df280a}
.colissimo-pickup-select{float:right}