<?php /** @var LaPoste_Colissimo_Block_Frontend_Colissimo_Pickup_List $this */ ?>
<?php $pickups = $this->getList() ?>

<span class="no-display"><input name="shipping_method" type="radio" value="pickup_colissimo" checked="checked" /></span>

<div class="colissimo-title"><?php echo $this->__('Search pickup address near:') ?></div>

<ul id="colissimo-address" class="form-list">
    <li class="fields">
        <div class="field">
            <label for="colissimo-street"><?php echo $this->__('Street') ?></label>
            <div class="input-box">
                <input id="colissimo-street" name="address" type="text" value="<?php echo $this->getAddress() ?>" />
            </div>
        </div>
    </li>
    <li class="fields">
        <div class="field">
            <label for="colissimo-postcode"><?php echo $this->__('Postcode') ?> <span class="colissimo-required">*</span></label>
            <div class="input-box">
                <input id="colissimo-postcode" name="postcode" type="text" value="<?php echo $this->getPostcode() ?>"<?php if (!$this->getPostcode()): ?> class="colissimo-required-error"<?php endif; ?> />
            </div>
        </div>
    </li>
    <li class="fields">
        <div class="field">
            <label for="colissimo-city"><?php echo $this->__('City') ?> <span class="colissimo-required">*</span></label>
            <div class="input-box">
                <input id="colissimo-city" name="city" type="text" value="<?php echo $this->getCity() ?>"<?php if (!$this->getCity()): ?> class="colissimo-required-error"<?php endif; ?> />
            </div>
        </div>
    </li>
    <?php $countries = $this->getCountries() ?>
    <?php if(count($countries) > 1): ?>
        <li class="fields">
            <div class="field">
                <label for="colissimo-country"><?php echo $this->__('Country') ?> <span class="colissimo-required">*</span></label>
                <div class="input-box">
                    <select name="country_id" id="colissimo-country"<?php if (!$this->getCountryId()): ?> class="colissimo-required-error"<?php endif; ?>>
                        <?php foreach($countries as $code => $country): ?>
                            <option value="<?php echo $code ?>" <?php if($this->getCountryId() == $code): ?> selected="selected"<?php endif; ?>><?php echo $country ?></option>
                        <?php endforeach; ?>
                    </select>
                </div>
            </div>
        </li>
    <?php else: ?>
        <?php reset($countries) ?>
        <input type="hidden" name="country_id" value="<?php echo key($countries) ?>" />
    <?php endif; ?>
    <li class="colissimo-address-update fields">
        <input type="hidden" name="context" value="<?php echo $this->getContext() ?>" />
        <div class="field">
            <label>&nbsp;</label>
            <div class="input-box">
                <button type="button" class="button">
                    <span>
                        <span><?php echo $this->__('Update') ?></span>
                    </span>
                </button>
            </div>
        </div>
    </li>
</ul>

<div class="colissimo-title"><?php echo $this->__('Select pickup address:') ?></div>

<?php if (count($pickups)): ?>
    <?php if ($this->getShowMap()): ?>
        <div id="colissimo-map"></div>
    <?php endif; ?>
    <ul id="colissimo-list">
        <?php foreach ($pickups as $pickup): ?>
            <?php /** @var LaPoste_Colissimo_Model_Pickup $pickup */ ?>
            <li<?php if ($pickup->getIdentifiant() == $this->getPickupId()): ?> class="active"<?php endif; ?>>
                <input type="radio" value="<?php echo $pickup->getIdentifiant(); ?>-<?php echo $pickup->getReseau() ?>" name="pickup" id="colissimo-pickup-<?php echo $pickup->getIdentifiant(); ?>"<?php if ($pickup->getIdentifiant() == $this->getPickupId()): ?> checked="checked"<?php endif; ?> />
                <label for="colissimo-pickup-<?php echo $pickup->getIdentifiant(); ?>">
                    <strong><?php echo $pickup->getNom() ?></strong><br />
                    <?php echo $pickup->getAdresse1() ?> - <?php echo $pickup->getCodePostal() ?> <?php echo $pickup->getLocalite() ?><br />
                </label>
                <ul class="colissimo-info" id="colissimo-info-<?php echo $pickup->getIdentifiant(); ?>-<?php echo $pickup->getReseau() ?>"<?php if ($pickup->getIdentifiant() != $this->getPickupId()): ?> style="display:none"<?php endif; ?>>
                    <?php if($this->isHoliday($pickup)): ?>
                        <li class="colissimo-holiday">
                            <?php echo $this->__('Closed from %s to %s', $this->getHolidayStart($pickup), $this->getHolidayEnd($pickup)) ?>
                        </li>
                    <?php endif; ?>
                    <li class="colissimo-schedule">
                        <span><?php echo $this->__('Monday') ?> :</span> <?php echo $pickup->getHorairesOuvertureLundi() ?: $this->__('Closed') ?><br />
                        <span><?php echo $this->__('Tuesday') ?> :</span> <?php echo $pickup->getHorairesOuvertureMardi() ?: $this->__('Closed') ?><br />
                        <span><?php echo $this->__('Wednesday') ?> :</span> <?php echo $pickup->getHorairesOuvertureMercredi() ?: $this->__('Closed') ?><br />
                        <span><?php echo $this->__('Thursday') ?> :</span> <?php echo $pickup->getHorairesOuvertureJeudi() ?: $this->__('Closed') ?><br />
                        <span><?php echo $this->__('Friday') ?> :</span> <?php echo $pickup->getHorairesOuvertureVendredi() ?: $this->__('Closed') ?><br />
                        <span><?php echo $this->__('Saturday') ?> :</span> <?php echo $pickup->getHorairesOuvertureSamedi() ?: $this->__('Closed') ?><br />
                        <span><?php echo $this->__('Sunday') ?> :</span> <?php echo $pickup->getHorairesOuvertureDimanche() ?: $this->__('Closed') ?>
                    </li>
                </ul>
            </li>
        <?php endforeach; ?>
    </ul>

    <?php if ($this->showDeliverForm()): ?>
        <div class="colissimo-title"><?php echo $this->__('Person who will take the package:') ?></div>

        <ul id="colissimo-customer" class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="colissimo-customer-lastname"><?php echo $this->__('Lastname') ?> <span class="colissimo-required">*</span></label>
                    <div class="input-box">
                        <input id="colissimo-customer-lastname" name="lastname" type="text" value="<?php echo $this->getLastname() ?>" />
                    </div>
                </div>
            </li>
            <li class="fields">
                <div class="field">
                    <label for="colissimo-customer-firstname"><?php echo $this->__('Firstname') ?> <span class="colissimo-required">*</span></label>
                    <div class="input-box">
                        <input id="colissimo-customer-firstname" name="firstname" type="text" value="<?php echo $this->getFirstname() ?>" />
                    </div>
                </div>
            </li>
            <?php if ($this->phoneIsRequired()): ?>
                <li class="fields">
                    <div class="field">
                        <label for="colissimo-customer-telephone"><?php echo $this->__('Mobile phone') ?> <span class="colissimo-required">*</span></label>
                        <div class="input-box">
                            <?php echo $this->getPhoneCode() ?> <input id="colissimo-customer-telephone" name="telephone" type="text" value="<?php echo $this->getTelephone() ?>" />
                        </div>
                    </div>
                </li>
            <?php endif; ?>
        </ul>
    <?php endif; ?>

    <div id="colissimo-next">
        <button type="button" class="button">
            <span>
                <span><?php echo $this->__('Continue') ?></span>
            </span>
        </button>
    </div>

<?php else: ?>
    <p><?php echo $this->__('No address was found near the specified address') ?></p>
<?php endif; ?>

<script type="text/javascript">
    //<![CDATA[
    shippingMethod.pickuplistInit(<?php echo $this->getPickupAsJson() ?>);
    //]]>
</script>
