<?php
/**
 * Author : Dee
 *
 */
?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<script type="text/javascript">
    jQuery(document).ready( function(){
        jQuery('#promoprod').innerfade({
            animationtype: 'fade',
            speed: 'slow',
            timeout: 5000,
            type: 'sequence'}); });
</script>
<div class="sidebar-promo">
    <h3><a href="<?php echo Mage::getModel('catalog/category')->load(22)->getUrl(); ?>" title="<?php echo $this->__('See all promotions') ?>"><?php echo $this->__('Promos') ?></a></h3>
    <ul id="promoprod">
            <?php $i=0; foreach ($_products->getItems() as $_product): ?>
                          <li>
                              <div class="sidebar-promocontent">
                                      <h5>
                                          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                              <?php if(strlen($this->htmlEscape($_product->getName()))<=27): ?>
                                              <?php echo $this->htmlEscape($_product->getName()); ?>
                                              <?php else: ?>
                                              <?php echo substr(strip_tags(nl2br($this->htmlEscape($_product->getName()))),0,57)."..."; ?>
                                              <?php endif; ?>
                                          </a>
                                      </h5>
                                      <div class="sidebar-promoimage">
                                          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                                              <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200) ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($_product->getName()) ?>"/>
                                          </a>
                                      </div>
                                      <div class="sidebar-promodesc">
                                              <?php echo substr(strip_tags(nl2br($_product->getShortDescription())),0,90)."..."; ?>
                                              <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                                      </div>
                              </div><!--prod_indiv-->
                          </li>
                <?php $i++; endforeach; ?>
    </ul>
</div><!--fin classpart-->
<?php endif; ?>
