<?php if(Mage::getStoreConfig('chandancomment/comment_group/comment_status',Mage::app()->getStore())) { ?>
<ol class="checkout-agreements">
		<li>
				<label for="ordercomment"><?php echo $this->__('Your Comment for this Order') ?></label>
				<br/><textarea name="ordercomment" id="ordercomment" style="width:450px;height:100px;"></textarea>
		</li>
</ol>
<script type="text/javascript">
    jQuery(document).ready(function(){
		jQuery("#ordercomment").blur(function(){
			 var p_tunki = jQuery("#ordercomment").val();
			 //alert(p_tunki);
				jQuery.ajax({
					type : "post",
					url : "<?php echo Mage::getBaseUrl( Mage_Core_Model_Store::URL_TYPE_WEB, true ); ?>comment/index/textval",
					data : {ordercomment:p_tunki},
					success: function(text){
					}
				});
		});
	});
</script>
<?php } ?>
