<?php
/**
 * Author : Dee
 *
 */
?>
<div id="searchbar">
    <form id="search_mini_form" action="<?php echo $this->helper('catalogSearch')->getResultUrl() ?>" method="get">
        <fieldset>
            <legend><?php echo $this->__('Search Site') ?></legend>
            <div class="mini-search">
                <input id="search" type="text" class="input-text" name="<?php echo $this->helper('catalogSearch')->getQueryParamName() ?>" value="<?php echo $this->helper('catalogSearch')->getEscapedQueryText() ?>" />
                <input type="image" src="<?php echo $this->getSkinUrl('images/submit.png') ?>" alt="<?php echo $this->__('Search') ?>" />
                <div id="search_autocomplete" class="search-autocomplete"></div>
                <script type="text/javascript">
                    //<![CDATA[
                    var searchForm = new Varien.searchForm('search_mini_form', 'search', '<?php echo $this->__('Search here...') ?>');
                    searchForm.initAutocomplete('<?php echo $this->helper('catalogSearch')->getSuggestUrl() ?>', 'search_autocomplete');
                    //]]>
                </script>
            </div>
        </fieldset>
    </form>
</div>
