<script type="text/javascript" src="<?php echo $this->getSkinUrl('laposte/label/js/update.js', array('_secure'=>true)) ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    new OrderUpdate('<?php echo $this->getUrl('adminhtml/colissimo_label/saveGridData', array('_secure' => true)) ?>');
    //]]>
</script>