<?php
/**
 * Author : Dee
 *
 */
?>
<?php if (($_products = $this->getProductCollection()) && $_products->getSize()): ?>
<script type="text/javascript">
    jQuery(document).ready( function(){
        jQuery('#promoprod').innerfade({
            animationtype: 'fade',
            speed: 'slow',
            timeout: 5000,
            type: 'sequence'}); });
</script>
<div class="part">
    <div class="title"><a href="<?php echo Mage::getModel('catalog/category')->load(22)->getUrl(); ?>" title="<?php echo $this->__('See all promotions') ?>" class="promotions-title"><?php echo $this->__('Promos') ?></a></div>
    <div class="partcontent promoprod">
        <ul id="promoprod">
                <?php $i=0; foreach ($_products->getItems() as $_product): ?>
            <li>
                <div class="prod_indiv">
                    <div class="prod_title">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                            <?php if(strlen($this->htmlEscape($_product->getName()))<=27): ?>
                            <?php echo $this->htmlEscape($_product->getName()); ?>
                            <?php else: ?>
                            <?php echo substr(strip_tags(nl2br($this->htmlEscape($_product->getName()))),0,27)."..."; ?>
                            <?php endif; ?>
                        </a>
                    </div>
                    <div class="prod_image">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(200, 200) ?>" width="200" height="200" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                        </a>
                    </div>
                    <div class="prod_sdesc_price">
                        <div class="prod_sdesc">
                            <?php echo substr(strip_tags(nl2br($_product->getShortDescription())),0,60)."..."; ?>
                            <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                        </div>
                    </div>

                </div><!--prod_indiv-->
            </li>
                    <?php $i++; endforeach; ?>
        </ul>
        <div class="clearall"></div>
    </div>
</div><!--fin classpart-->
<?php endif; ?>
