<?php /** @var LaPoste_Colissimo_Block_Frontend_Colissimo_Method $this */ ?>
<script type="text/javascript" src="<?php echo $this->getMethodJs('script.js') ?>"></script>
<script type="text/javascript">
    //<![CDATA[
    shippingMethod.methodInit('<?php echo $this->getControllerUrl() ?>', <?php echo $this->getOptionsJson() ?>);
    //]]>
</script>
