<?php /** @var LaPoste_Colissimo_Block_Frontend_Colissimo_Pickup $this */ ?>
<?php if ($this->getShowMap()): ?>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js<?php if ($this->getMapApiKey()): ?>?key=<?php echo $this->getMapApiKey() ?><?php endif; ?>"></script>
    <script type="text/javascript" src="<?php echo $this->getLibJs('maps.js') ?>"></script>
<?php endif; ?>
<script type="text/javascript" src="<?php echo $this->getLibJs('pickup.js') ?>"></script>
<script type="text/javascript" src="<?php echo $this->getSkinJs() ?>"></script>
<link rel="stylesheet" type="text/css" href="<?php echo $this->getSkinCss() ?>" media="all" />
<script type="text/javascript">
    //<![CDATA[
    shippingMethod.pickupInit('<?php echo $this->getControllerUrl() ?>', <?php echo $this->getShowMap() ?>);
    //]]>
</script>
