/* 
    Document   : ie6
    Created on : 25 janv. 2010, 20:21:54
    Author     : Dee
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*#center{
     width:560px;
}*/

.prodbycat{
    margin-left:28px;
}

/*#wrapper-selection-lilou-products{
    width:1024px;
    height:300px;
    overflow:hidden;
    margin-top:0px;
}*/

#prodbycat_categ_prodsel-lilouselection{
    width:1024px;
}

.prodbest li.prod_by_cat {
    margin-right:37px;
}

