#lin_container {
	background-color:#fffff;
    text-align : left;
    font-size : 14px;
    width : 700px;
    padding-left : 20px;
    color:#7e7c7c;
    text-align:left;
}

h2 {
    font-size : 20px;
    color : #5e1b70;
}


#partagez {
    width:350px;
    margin-left :1px;
    
}
#fb-sharing {
    float : right;
    width:100px;
    
}

#tw-sharing {
    float : left;
    width:100px;
    
}

button {
width :50px;
height : 50px;
color:#5e1b70;
font-size:10px;
font-style:bold;
background-color:transparent;
background-image : url ('http://www.lilouplaisir.com/skin/frontend/lilouplaisir_interface/lilou_theme_v1/images/media/retour_page_precedente.JPG');
margin-left : 150px;
}

