#lin_container {
	background-color:#440c55;
	width:989px;
	margin:auto;
	padding-top:25px;
}

#lin_merci {
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/merci.jpg);
	height:41px; 
	width:300px; 
	margin:auto;
}

#partagez {
	width:583px;
	height:113px;
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/partagez.png);
	margin-left:20px;
	margin-top:15px;
}

#share_section {
	width:670px; 
	height:434px; 
	margin-left:165px;
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/fond-partage.png);
	padding:20px;
	background-repeat:no-repeat;
}

#fb-sharing {
	width:300px; 
	height:205px; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/fb-share-fond.png); 
	background-repeat:no-repeat;
	float:left;
	margin-left:15px;
	margin-top:25px;
}

#fb-button {
	margin-left:115px;
	margin-top:78px;
}

#tw-sharing {
	width:300px; 
	height:205px; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/tw-share-fond.png); 
	float:left; 
	background-repeat:no-repeat;
	margin-top:25px;
}

#tw-button {
	margin-left:115px;
	margin-top:78px;
}

#lin_footer_jeu {
	width:969px; 
	height:30px; 
	padding-left:20px; 
	float:left; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/fond-foot.png);
}

#lin_footer_jeu li{
	display:inline;
}

#lin_footer_jeu li a{
	vertical-align:middle;
	text-decoration:none;
	color:#ffffff;
	font-size:11px; 
}

#lin_footer_jeu li img{
	vertical-align:middle;
}

li#footer-title {
	font-size:14px; 
	color:#757575;
	vertical-align:bottom;
}

#lin_footer_jeu li a:hover{
	text-decoration:underline;
	color:#f50f4b;
}