#wrapper-bloc-stv{
	width:550px;
	height:340px;
	overflow:hidden;
	margin:auto;
	margin-top:15px;
}
#titre-bloc-stv {
	text-align:center;
}
#titre-bloc-stv a{
	text-decoration:none;
    font-family:Candara,Arial;
    color:#ffffff;
    font-size:21px;
    font-weight:bold;
    text-indent:10px;
}
#top-bloc-stv{
	background-image:url('http://www.lilouplaisir.com/media/marketing/bloc/top-bloc-stv.gif');
	width:545px;
	height:32px;
	margin:auto;
}
#main-bloc-stv{
	width:545px;
    height:300px;
    margin:auto;
    background:url('http://www.lilouplaisir.com/media/marketing/bloc/content-bloc-stv.gif') no-repeat;
}
#left-content-stv{
	padding-top:14px;
    margin-left:14px;
	float:left;
}
#right-content-stv{
	padding-top:14px;
	margin-right:14px;
	float:left;
	width:245px;
}
.prod-special-stv{
	width:257px;
    position:relative;
    margin-right:10px;
    list-style:none;
    color:#494949;
}
.prod-special-stv .prod-special-stv-title{
    float:left;
    position:relative;
    padding-top:5px;
    overflow: hidden;
    line-height:14px;
    height:px;
    display:block;
	width:130px;
}

.prod-special-stv .prod-special-stv-title a{
    text-decoration:none;
    color:#494949;
    font-size:11px;
    font-weight:normal;
}

.prod_by_cat_btn_cart{
    border:none;
    width:204px;
    height:33px;
    cursor:pointer;
    background:url('../images/add_to_cart_new_cat_prod2.png') -247px 0px no-repeat;
}

.prod_by_cat_btn_cart:hover{
    background:url('../images/add_to_cart_new_cat_prod2.png') 0px 0px no-repeat;
}
#description-prod-stv{
	height:px;
}
p#titre-descriptif-prod-stv{
	font-family:Candara, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000;
	margin-bottom:5px;
	text-align:center;
	padding-top:10px;
}
p#text-description-prod-stv{
	font-family:Candara, Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
}
#info-checkout-stv{
	padding-left:15px;
	padding-top:22px;
	
}
.price#prix-produit {
	color:#deb127;
	font-size:18px;
}
.price#ancien-prix{
	color:#611d72;
	font-size:16px;
	font-weight:normal;
	text-decoration:line-through;
}
.regular-price span{
	color:#000000;
	padding-right:2px;
	line-height:14px;
}