/*
 * Feuille de style du nouveau site LilouPlaisir
 * @author : Farid AIT-ABDESLAM
 */

*{
	margin:0;
	padding:0;
}

img{
	border:none;
}

.clearall{
	clear:both;
}



.center_text{
    text-align:center;
}

fieldset{
	border:none;
}

fieldset legend{
	display:none;
}

input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
}

li{
    list-style:none;
}

.nobg{
    background:none;
}

.margintop10{
    margin-top:10px;
}

.marginbottom10{
    margin-bottom:10px;
}

body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
        background:url('../images/background.jpg') repeat-y 50% 0;
}

#wrapper{
	/* width:1024px; */
	margin:auto;
        background:#fff;
}

/*
 * Partie Header
 */



#headerlinks li{
	position:relative;
	top:5px;
}

#headerlinks ul li{
	list-style:none;
	position:relative;
	margin-left:10px;
}

#headerlinks ul li img{
	position:relative;
	top:4px;
	margin-right:3px;
}

#headerlinks ul li a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#474646;
	text-decoration:none;
}

#headerlinks ul li a:hover{
	text-decoration:underline;
}


#infolilouplaisir {
	position:relative;
	margin-top:2px;
	border:1px solid #cccccc;
	text-align:center;
	font-weight:bold;
	background:url('../images/serviceclient.jpg') bottom left no-repeat;
}

#infolilouplaisir .title{
	color:#5e1b70;
	font-size:11px;
	margin-bottom:3px;
	margin-top:3px;
}

#infolilouplaisir a{
	display:block;
	width:39px;
	height:39px;
	float:right;
	position:relative;
}

.skype{
	background:url('../images/lilouplaisir_online.jpg') 0px 0px no-repeat;
}

.yahoo{
	background:url('../images/lilouplaisir_online.jpg') -39px 0px no-repeat;
}

.msn{
	background:url('../images/lilouplaisir_online.jpg') -82px 0px no-repeat;
}

#clientaccount {
	position:relative;
	margin-top:2px;
	width:235px;
	height:54px;
	overflow:hidden;
	border:1px solid #cccccc;
	background:url('../images/client_account_bg.jpg') repeat-x;
	text-align:center;
}

#clientaccount input{
	width:95px;
	height:13px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
        padding:1px;
}

#clientaccount button{
	width:27px;
	height:27px;
	background:url('../images/submit.png') no-repeat;
	border:none;
	cursor:pointer;
}

#clientaccount a{
	float:right;
	position:relative;
	right:35px;
	top:-7px;
	color:#474646;
	text-decoration:none;
}

/*#clientaccount h3#log{
    text-align:right;
    margin-right:10px;
}

#clientaccount h3#log a{
	float:none;
	position:relative;
	right:0px;
	top:0px;
        color:#5e1b70;
	text-decoration:none;
        text-align:center;
}

#clientaccount h3#log a:hover{
    text-decoration:underline;
}*/

#clientaccount #account, #clientaccount #logout{
    right:0px;
    top:0px;
    color:#5e1b70;
}

#clientaccount #account{
    float:left;
    position:relative;
    margin-left:2px;
}

#clientaccount #logout{
    float:right;
    position:relative;
    margin-right:5px;
}

#clientaccount p{
    color:#000;
    margin-top:7px;
    font-size:12px;
}

#clientaccount a:hover{
	text-decoration:underline;
}

#clientaccount .title{
	color:#5e1b70;
	font-size:11px;
	margin-top:3px;
	text-align:left;
	text-indent:3px;
        text-transform:uppercase;
        font-weight:bold;
}

#infofraisdeport {
	position:relative;
	width:235px;
	height:54px;
	overflow:hidden;
	border:1px solid #cccccc;
	margin-top:4px;
	background:url('../images/frais_port_offerts.jpg') left no-repeat;
}

#infofraisdeport .title{
	color:#5e1b70;
	font-size:11px;
	/*margin-bottom:3px;*/
	margin-top:1px;
	/*text-indent:65px;*/
	margin-left:65px;
        font-weight:bold;
}

#infofraisdeport p{
	width:193px;
	float:right;
	position:relative;
	text-align:center;
	color:#7e7c7c;
}


#yourcart{
    float:left;
    position:relative;
    margin-left:10px;
    margin-top:6px;
}

#yourcart a{
    font-weight:bold;
    text-transform:uppercase;
    text-decoration:none;
    color:#5e1b70;
}

#yourcart a:hover{
    text-decoration:underline;
}

a#minicommander{
    display:block;
    width:84px;
    height:20px;
    background:url('../images/minicommander.gif') top no-repeat;
    float:right;
    position:relative;
    margin-right:5px;
    margin-top:10px;
}

a#minicommander:hover{
    background:url('../images/minicommander.gif') bottom no-repeat;
}


#shippingoffered{
    float:right;
    margin-top:6px;
    color:#5E1B70;
    margin-right:5px;
    font-weight:bold;
}

/**
 * Menu
 */

/************** ALL LEVELS  *************/
#nav li { position:relative; text-align:left; }
#nav li.over { z-index:999; }
/************ 1st LEVEL ************/
#nav ul.level0 { position:absolute; width:205px; top:33px; left:-10000px; border:1px solid #d8d6d6; }

/* Show menu */
#nav li.over > ul { left:0; }
#nav li.over > ul li.over > ul { left:100px; }
#nav li.over ul ul { left:-10000px; }

/**mine**/

#menu ul li.level0{
	float:left;
	position:relative;
	list-style:none;
	margin-left:0px;
	margin-right:0px;
}


#menu ul li.level0 a span.left{
	display:block;
	float:left;
	position:relative;
	width:10px;
	height:34px;
	background:url('../images/menu_bg.jpg') no-repeat;
	padding-top:0px;
}

#menu ul li.level0 a span{
	display:block;
	float:left;
	position:relative;
	height:26px;
	background:url('../images/menu_bg_center.jpg') -10px 0px repeat-x;
	padding-top:8px;

}

#menu ul li.level0 a span.right{
	display:block;
	float:left;
	position:relative;
	width:10px;
	height:34px;
	/*background:url('../images/menu_bg.jpg') -142px 0px no-repeat;*/
	background:url('../images/menu_bg.jpg') -142px 0px no-repeat;
	padding-top:0px;
}

#menu ul li.level0 a:hover > span.right{
	background:url('../images/menu_bg.jpg') -142px -36px no-repeat;
}

#menu ul li.level0 a:hover > span{
	background:url('../images/menu_bg_center.jpg') 0px -36px repeat-x;
	color:#000;
}

#menu ul li.level0 a:hover > span.left{
	background:url('../images/menu_bg.jpg') 0px -36px no-repeat;
}

/*when the category is active cssclass : .active*/
#menu ul li.active a > span.right{
	/*background:url('../images/menu_bg.jpg') -132px -36px no-repeat;*/
        background:url('../images/menu_bg.jpg') -142px -36px no-repeat;
}

#menu ul li.active a > span{
	background:url('../images/menu_bg_center.jpg') 0px -36px repeat-x;
	color:#000;
}

#menu ul li.active a > span.left{
	background:url('../images/menu_bg.jpg') 0px -36px no-repeat;
}

/*
 * 2nd level
 */
 #menu ul.level0{
    /* background:#ecebeb;*/
     background:url('../images/degrade_menu.gif') repeat-x #fff;
 }

 #menu ul.level0 li.level1{
     float:left;
     position:relative;
 }

#menu ul.level0 li a{
	display:block;
	color:#fff;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	cursor:pointer;
}


#menu ul.level1 li.active a span{
    /*color:#5E1B70;*/
    text-decoration: underline;
}

#menu ul.level0 li a span{
	display:block;
        float:none;
	height:20px;
	background:none;
	padding-top:5px;
        padding-left:5px;
        color:#5E1B70;
}


#menu ul.level0 li a:hover > span{
	background:none;
	color:#000;
        text-decoration:underline;
}

/*3rd level*/
#menu ul.level1 li a{
	display:block;
	color:#000;
	text-decoration:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:normal;
	cursor:pointer;
}

#menu ul.level1 li a:hover{
    text-decoration:underline;
}

#menu ul.level1 li a span{
	display:block;
        float:none;
	height:15px;
	background:none;
	padding-top:0px;
        padding-left:10px;
        color:#000;
}

#nav li.nav-cat1 ul.level0{
    width:500px;
}

/*start personalisation menu*/
#nav ul.level0{
    padding-bottom: 20px;
}

li.menu_product{
    width:180px;
    /*margin-bottom: 20px;*/
}

li.menu_product .menu_product_image{
    float:left;
    position:relative;
    width:88px;
}

li.menu_product .menu_product_image img {
    border:1px solid #58196A;
}

li.menu_product .menu_product_name{
    float:right;
    position:relative;
    width:88px;
}

#menu ul.level0 li.menu_product .menu_product_name a{
    color:#3B3B3B;
    font-size: 11px;
    font-weight: normal;
}

li.menu_product .menu_product_name span.price{
    color:#58196A;
}


#nav .nav-sextoys ul.level0 {
  	width: 550px;
}

#menu ul.level0 li.level1{
    width:200px;
    margin-left: 5px;
    margin-top: 5px;
}
#menu ul#nav li:before, #menu ul#nav li:after {box-sizing:  border-box !important;}

#menu ul#nav > li > ul.level0 {
		-moz-column-width: 13em;
	  -webkit-column-width: 13em;
	  -moz-column-gap: 1em;
	  -webkit-column-gap: 1em;
}
#menu ul.level0 li.level1.parent {
		display: inline-block;
		float: none;
}

#menu li.nav-sextoys li.level1,
#menu li.nav-massage-gourmandises li.level1,
#menu li.nav-hygiene-stimulants li.level1,
#menu li.nav-accessoires-erotiques li.level1{

}

#nav .nav-massage-gourmandises ul.level0 {
    width:40em;
}

.nav-massage-gourmandises-gourmandises{
    height:100px;
}

#nav .nav-hygiene-stimulants ul.level0 {
    width:40em;
}

.nav-hygiene-stimulants-lubrifiants{
    /*height:110px;*/
}

.nav-hygiene-stimulants-preservatifs{
    /*margin-bottom: 20px;*/
}

#nav .nav-accessoires-erotiques ul.level0 {
    width:40em;
}

.nav-accessoires-erotiques-sensuel{
    margin-bottom: 10px;
}

#nav .nav-jeux-coquins ul.level0,
#nav .nav-livres ul.level0,
#nav .nav-cadeaux-sexy ul.level0,
#nav .nav-les-utiles ul.level0 {
    width:20em;
}

#menu ul li.nav-promotions a span.right {
	background:url('../images/menu_bg.jpg') -142px -36px no-repeat;
}

#menu ul li.nav-promotions a span {
	background:url('../images/menu_bg_center.jpg') 0px -36px repeat-x;
	color:#000;
}

#menu ul li.nav-promotions a span.left {
	background:url('../images/menu_bg.jpg') 0px -36px no-repeat;
}

/*fin personaisation menu*/

/*
 * Fin du menu
 */

/*
 * debut de breadcrumbs
 */


#breadcrumbs ul.breadcrumbs li{
	list-style:none;
	float:left;
	margin-left:5px;
	margin-top:7px;
}

#breadcrumbs ul.breadcrumbs li a{
	color:#474646;
}

#breadcrumbs ul.breadcrumbs li a:hover{
	color:#5E1B70;
	text-decoration:none;
}

#searchbar{
	float:right;
	/**width:180px;**/
	width:240px;
}

#searchbar input{
	margin-top:3px;
        font-size:11px;
}
#searchbar input#search{

	margin-top:0px;
	position:relative;
	top:-11px;
	padding:1px;
	width:200px;
	height:18px;
	font-size:14px;
}


/*
 * Footer
 */
#footer{

}



#footertop a{
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	font-weight:bold;
}


#footermiddle a:hover{
	text-decoration:underline;
}

#footerbottom{
	text-align:center;
	margin-top:5px;
	padding-bottom:10px;
}



.part{
    margin-bottom:10px;
}

.part .title{
	width:211px;
	height:27px;
	background:url('../images/header_part.jpg') no-repeat;
	font-size:16px;
	text-align:center;
	padding-top:5px;
	color:#fff;
        margin-bottom:0px;
        font-weight:bold;
}

.part .partcontent{
	width:209px;
	height:306px;
	border:1px solid #ccc;
	border-top:none;
	background:#e3e1e1 url('../images/part_bg.jpg') repeat-x;
        overflow:hidden;
        /*color:#494949;*/
}



#nos_engagement{
	padding-top:10px;
}

#nos_engagement p{

}

#nos_engagement .text{
	float:right;
	position:relative;
	width:165px;
	height:30px;
	font-weight:bold;
	margin-bottom:5px;
}

#nos_engagement .engimg{
	width:35px;
	height:30px;
	float:left;
	position:relative;
	margin-bottom:5px;
}

#eng1{
	background:url('../images/nos_engagement.png') 0px 0px no-repeat;
}

#eng2{
	background:url('../images/nos_engagement.png') 0px -35px no-repeat;
}

#eng3{
	background:url('../images/nos_engagement.png') 0px -70px no-repeat;
}

#eng4{
	background:url('../images/nos_engagement.png') 0px -105px no-repeat;
}

#eng5{
	background:url('../images/nos_engagement.png') 0px -139px no-repeat;
}

#eng6{
	background:url('../images/nos_engagement.png') 0px -174px no-repeat;
}

#eng7{
	background:url('../images/nos_engagement.png') 0px -209px no-repeat;
}

#eng8{
	background:url('../images/nos_engagement.png') 0px -245px no-repeat;
}

#nos_engagement a{
	float:right;
	position:relative;
	margin-right:10px;
	color:#3b3b3b;
}


/*
 * Promotions
 */

#promotions{
	float:right;
}

.promotions-title{
    text-decoration:none !important;
    color:#fff !important;
}


.language-switcher{
    float:right;
    position:relative;
    margin-right:10px;
}

.language-switcher label{
    font-weight:normal;
    float:left;
    position:relative;
}

.language-switcher select, .language-switcher option{
    font-size:11px;
}

.language-switcher .fr,
.language-switcher .fropacity,
.language-switcher .en,
.language-switcher .enopacity{
    margin-left:3px;
    width:19px;
    height:14px;
    display:block;
    float:left;
    position:relative;
}

.language-switcher .fropacity{
    background:url('../images/lang.gif') 0px -16px no-repeat;
}

.language-switcher .fr{
    background:url('../images/lang.gif') 0px 0px no-repeat;
}

.language-switcher .enopacity{
    background:url('../images/lang.gif') -20px -16px no-repeat;
    width:20px;
}

.language-switcher .en{
    background:url('../images/lang.gif') -20px 0px no-repeat;
    width:20px;
}


/**
*   Product Promo
*/

#promoprod .prod_indiv{
    width:200px;
    margin-left:4px;
}

.part .promoprod{
    height:316px;
    color:#494949;
}

.prod_indiv .prod_title{
    text-align:center;
    padding-top:3px;
    padding-bottom:6px;
    height:20px;
    margin-bottom:0px;
}

.prod_indiv .prod_title a{
    color:#440c54;
    text-decoration:none;
    font-size:13px;
    font-weight: bold;
}

.prod_indiv .prod_sdesc_price{
    text-align:center;
    background:url('../images/fond_sdesc_price.png') no-repeat;
    width:199px;
    height:80px;
    margin:auto;
    padding-top:5px;
}

.prod_indiv .btn_cart{
    top:-125px;
}

.btn_cart{
    width:36px;
    height:35px;
    background:url('../images/btn_cart.png') no-repeat;
    border:none;
    cursor:pointer;
    float:right;
    position:relative;
}

.prod_indiv .out-of-stock{
    float:right;
    position:relative;
    top:-115px;
    margin-right:5px;
}

.prod_image img{
    border:1px solid #58196a !important;
}

#promoprod .prod_sdesc{
    margin-top:5px;
}

/**
* new Product by category
*/


.prod_by_cat .prod_by_cat_price{
    float:right;
    position:relative;
}

.prod_by_cat .regular-price .price {
    color:#58196A;
    font-size:18px;
    font-weight:normal;
}

.prod_by_cat .prod_by_cat_title{
    float:left;
    position:relative;
    padding-top:5px;
    width:100px;
    overflow: hidden;
    line-height:14px;
    height:35px;
    display:block;
}

.prod_by_cat .prod_by_cat_title a{
    text-decoration:none;
    color:#494949;
    font-size:11px;
    font-weight:normal;
}

.prod_by_cat_btn_cart{
    border:none;
    width:204px;
    height:33px;
    cursor:pointer;
    background:url('../images/add_to_cart_new_cat_prod2.png') -247px 0px no-repeat;
}

.prod_by_cat_btn_cart:hover{
    background:url('../images/add_to_cart_new_cat_prod2.png') 0px 0px no-repeat;
}

/*the blocks*/


#onglets li{
    float:left;
    position:relative;
    list-style:none;
}



#onglets .ongletleft{
    width:6px;
    height:29px;
    display:block;
    background:url('../images/onglets-left.gif') 0px -34px no-repeat;
    float:left;
    position:relative;
}

#onglets .ongletright{
    width:28px;
    height:29px;
    display:block;
    background:url('../images/onglets-right.gif') 0px -34px no-repeat;
    float:left;
    position:relative;
}

#onglets .ongletcenter{
    height:21px;
    display:block;
    background:url('../images/onglets-center.gif') 0px -34px repeat-x;
    float:left;
    position:relative;
    padding-top:8px;
}





#onglets a:hover > .ongletleft{
    background:url('../images/onglets-left.gif') 0px 0px no-repeat;
}

#onglets a:hover > .ongletright{
    background:url('../images/onglets-right.gif') 0px 0px no-repeat;
}

#onglets a:hover > .ongletcenter{
    background:url('../images/onglets-center.gif') 0px 0px repeat-x;
}

#onglets li.actif a > .ongletleft{
    background:url('../images/onglets-left.gif') 0px 0px no-repeat;
}

#onglets li.actif a > .ongletright{
    background:url('../images/onglets-right.gif') 0px 0px no-repeat;
}

#onglets li.actif a > .ongletcenter{
    background:url('../images/onglets-center.gif') 0px 0px repeat-x;
}


/*
* Selection lilou
*/


#wrapper-selection-lilout-products .prodbest{
    margin-left:47px;
}



#prodsel-lilouselection .btn_cart{
    top:-80px;
}

#prodsel-lilouselection .prod_by_cat_title a{
    color:#fff;
}

#prodsel-lilouselection .regular-price .price{
    color:#f3e592;
}


/**
* Newsletter
**/
fieldset.content_newsletter_lilou{
    /*width:207px;*/
}

.newsletter_lilou{}

.ok-button{
    background:url('../images/submit.png') no-repeat;
    width:27px;
    height:27px;
    border:none;
    cursor:pointer;
}

.newsletterbox{
/*     border:1px solid #d0d0d0;*/
/*    background:url('../images/newsletterbox.gif') repeat-x;*/
    width:197px;
    height:83px;
    margin:auto;
}

#newsletter{
    margin-top:12px;
    margin-left:10px;
    margin-bottom: 10px;
		padding: 0;
    width: auto;
}

.news-button{
    float:right;
    position:relative;
    margin-right:5px;
    margin-top: 8px;
    margin-bottom: 22px;
}

.moreinfonews {
    margin-top: 31px;
}

.newsletter-gender{
    margin-top:5px;
    margin-left:10px;
    float:left;
    position:relative;
}

.newsletter-gender label{
    padding-left:3px;
    padding-right:6px;
}

.newsletter_lilou img{
    float:right;
    position:relative;
    margin-right:10px;
    margin-top:7px;
}

.newsletter-msg{
    width:100px;
    display:block;
    float:left;
    position:relative;
    margin-left:10px;
    margin-top:7px;
}

.moreinfonews p{
    width:190px;
    margin:auto;
    margin-top:10px;
    margin-bottom:0px;
    text-align:justify;
}

.moreinfonews a{
    float:right;
    position:relative;
    margin-right:7px;
    margin-top:10px;
    color:#000;
    font-weight:bold;
}

/*
* Section Nos Marques
*/
#ourbrand a{
    color:#000;
    height:20px;
    background:url('../images/ourbrand.gif') bottom repeat-x;
    display:block;
    margin-top:2px;
    text-decoration:none;
    font-weight:bold;
    text-align:center;
    padding-top:8px;
}

#ourbrand a:hover{
    color:#5E1B70;
    text-decoration:underline;
    background:url('../images/ourbrand.gif') top repeat-x;
}


#ourbrand .partcontent {
    height:300px;
}

/**
* 3columns *
**/
.col-3-layout{
    background:none;
}


/**
* onepage
*/
.shippingfee{
    color:#bf0a0a;
}

/***
* categories list
*/



#listcategoriesbody h2.titlecat{
    width:202px;
    height:37px;
    background:url('../images/list-cat-title.gif') no-repeat;
    text-align:center;
    margin-top:5px;
}

#listcategoriesbody h2.titlecat a{
    display:block;
    width:200px;
    height:37px;
    color:#58196a;
    font-size:14px;
    text-align:center;
    text-decoration:none;
}

#infofraisdeport .title a{
    text-decoration: none;
    color:#5E1B70;
}

/*#listcategoriesbody h2 a{
    display:block;
    width:202px;
    height:37px;
    background:url('../images/list-cat-title.gif') no-repeat;
    color:#58196a;
    font-size:14px;
    text-align:center;
    text-decoration:none;
    margin-top:5px;
}*/

#listcategoriesbody h2 a span{
    position:relative;
    top:9px;
}

#listcategoriesbody ul li.listcatitem{
    float:left;
    position:relative;
    margin-top:5px;
    margin-bottom:5px;
    margin-left:24px;
    margin-right:24px;
}

#listcategoriesbody .product-image img{
    border:1px solid #58196a;
}

.category-description{
    font-size:12px;
}

/**
* Affiner la recherche
*/



.partgold .narrow-by dd li a{
    background:transparent url(../images/ourbrand2.gif) repeat-x scroll center bottom;
    color:#000000;
    display:block;
    font-size:11px;
    min-height:20px;
    margin-bottom:2px;
    padding-top:4px;
    padding-bottom:4px;
    text-decoration:none;
    /*text-indent:10px;*/
    padding-right: 5px;
    padding-left: 5px;
    font-weight:bold;
}

.partgold .narrow-by dd li a:hover{
    /*background:transparent url(../images/ourbrand2.gif) repeat-x scroll center top;*/
    color:#5E1B70;
    text-decoration: underline;
}

.partgold .narrow-by dd, .partgold .narrow-by dl{
    padding:0px;
    background:none;
}

.partgold .narrow-by dd li{
    margin:0px;
}

.partgold h4, .partgold .actions, .partgold .narrowed-category{
    background:#f1f1f1;
    padding-left:10px;
    padding-top:5px;
}

/**
* Listing products
*/


.listing-type-grid .btn_cart{
    top:-155px;
    right:15px;
}

.listing-type-grid h5{
    width:202px;
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
	height:53px;
    /**height:20px;
    overflow:hidden;**/
}
.listing-type-grid span{
	font-size:9px;
	text-decoration:none;
}

.listing-type-grid h5 a{
    text-decoration:none;
    color:#5E1B70;
    font-size:12px;
}

.listing-type-grid h5 a:hover{
    color:#5E1B70;
}

.listing-type-grid .price-box{
    text-align:center;
    margin-top:8px;
}

.listing-type-grid .list-product-shortdescription{
    width:202px;
    /**height:55px;**/
	height:22px;
	white-space:nowrap;
    overflow:hidden;
	/** Ajout auto des "..." **/
	text-overflow:ellipsis; /** Internet Explorer **/
	-o-text-overflow:ellipsis; /**Safari, Chrome, Opera **/
	-moz-binding: url('bindings.xml#ellipsis'); /** Firefox **/
    margin:auto;
    margin-top:0px;
    margin-bottom:0px;
}

.listing-type-grid .product-image{
    margin-top:10px;
}
.listing-type-grid .regular-price .price {
    color:#58196A;
    font-size:15px;
    font-weight:normal;
}

/**
* Fiche produit
**/


h2.product-title{
    font-size:16px;
    font-family:Candara,Arial;
    color:#611D73;
}

h3.product-description-title{
    font-size:15px;
    font-family:Candara,Arial;
    color:#611D73;
}

.product-collateral .product-specs{
   font-size:12px;
}

.product-info-box .red{
    color:#ff0000;
}



.product-shop .price_stock .prod_type .price_text{
    float:left;
    position:relative;
    font-size:11px;
    font-weight:bold;
    padding-top:5px;
}

.product-shop .price_stock .price-box{
    margin:0px;
    padding:0px;
}

.product-shop .price_stock .price-box .price{
    color:#58196A;
    font-weight:normal;
    font-size:18px;
}

.product-shop .price_stock .price-box .special-price .price{
    color:#DEB127;
    font-weight:normal;
    font-size:18px;
}

.product-shop .avis-qualite-prix{
    float:left;
    position:relative;
    font-size:12px;
    font-weight:bold;
    margin-top:2px;
    margin-right:5px;
}

.product-shop .attprodview span{
    font-weight:bold;
}

.product-shop .attprodview a{
    color:#5E1B70;
    text-decoration:none;
    font-weight:bold;
}

.product-shop .ratings-list td.label, .product-collateral .ratings-list td.label{
    font-size:12px;
}

.product-shop a, .product-collateral a{
    color:#611D73;
}

.product-shop a:hover, .product-collateral a:hover{
    color:#DEB127;
}

.col-2-left-layout .product-shop label{
    color:#000;
    font-size:12px;
}

.product-shop .add-to-cart-box .qty-box{
    margin-top:8px;
}

.tech_desc{
    margin-top:15px;
    float:left;
    margin-right:20px;
}

.tech_desc .title{
    width:359px;
    height:26px;
    background:url('../images/tech_desc_title.gif') no-repeat;
    text-align:center;
}

.tech_desc .title span{
    font-weight:bold;
    position:relative;
    top:5px;
    font-size:12px;
}

.tech_desc .content{
    width:330px;
    border:1px solid #D8D8D8;
    background:#E3E1E1 url(../images/part_bg.jpg) repeat-x;
}

.commentaire{
    float:left;
    margin-top:25px;
}

.commentaire h4.title{
    color:#000;
    font-size:12px;
    margin-bottom:10px;
}

#related-prod .title, #upsell-prod .title{
    width:544px;
    padding-bottom:7px;
    padding-top:6px;
    text-align:center;
    font-size:16px;
    background:transparent url(../images/bestseller_bg.png) no-repeat;
    font-weight:bold;
    margin:auto;
}

#related-prod .related-content{
    width:727px;
    height:267px;
    background:transparent url(../images/related-product-bg.gif) no-repeat;
    overflow:hidden;
}

#related-prod{
    width:727px;
    margin-left:-3px;
    margin-top:20px;
}

#related-prod li.prod_by_cat{
    margin-right:0px;
    margin-left:30px;
    margin-top:10px;
}

#related-prod li.prod_by_cat .btn_cart{
    top:-95px;
}

#related-prod li.prod_by_cat .price{
    color:#F3E592;
}

#related-prod li.prod_by_cat .prod_by_cat_title a{
    color:#fff;
}

#upsell-prod .upsell-content{
    width:726px;
    height:279px;
    background:url(../images/upsells-product-bg.gif) no-repeat;
    margin-left:-3px;
    margin-top:-2px;
    overflow:hidden;
}

#upsell-prod .btn_cart{
    position:relative;
    top:-92px;
}

#upsell-prod{
    margin-top:20px;
}

#upsell-prod .prodbycat{
    margin-left:0px;
}

#upsell-prod li.prod_by_cat{
    margin-right:0px;
    margin-left:30px;
}

.prod_by_cat_out-of-stock{
    font-size:12px;
    text-align:center;
    color:#ff0000;
    font-weight:bold;
}

#prodbycat_categ_prodsel-lilouselection .prod_by_cat_out-of-stock{
    position:relative;
    text-align:right;
    top:-70px;
    right:10px;
}

.product-collateral .prod_by_cat_out-of-stock{
    position:relative;
    text-align:right;
    top:-80px;
    right:10px;
}

.product-info-box .availability.free_shipping {
     margin: 4px 0;
}

.product-info-box .free_shipping_text {
     text-transform: uppercase;
     color: #58196A;
     font-weight: bold;
}

.product-info-box .free_shipping_text a {
     text-decoration: none;
}

/**
* giftwrap
*/
.giftmessages{
    margin-bottom:20px;
}

.one-page-checkout .group-select {
    margin-top:10px;
}

.giftwrap input, .giftwrap label{
    bottom:30px;
    margin-bottom:10px;
    position:relative;
}

.one-column-msg {
    border: 1px solid #D9DDE3;
    color: red;
    font-size: 18px;
    text-align: center;
    background: #F8F7F5;
    padding: 5px;
    margin-bottom: 15px;
}
