#lin_container {
	background-color:#ffffff;
	width:989px;
	margin:auto;
}
#reglement{
	width:900px; 
	margin:auto; 
	color:#635168; 
	font-size:12px;
	padding-top:50px;
	padding-bottom:50px;
}
#reglement h3 {
	color:#635168;
	padding-top:15px;
	font-weight:bolder;
}
a.info-lot {
	position:relative;
	text-decoration:;
	font-size:15px;
	color:#611d72;
	cursor:pointer;
}
a.info-lot:hover {
	background:none;
	z-index:500;
}
a.info-lot span {display:none;}
a.info-lot:hover span {
	display:inline;
	position:absolute;
	top:-100px;
	left:550px;
	background-color:white;
	padding:3px;
	border:3px solid #611d72;
}
img.img-lot {width:300px;}
#lin_footer_jeu {
	width:969px; 
	height:30px; 
	padding-left:20px; 
	float:left; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/fond-foot.png);
}
#lin_footer_jeu li {display:inline;}
#lin_footer_jeu li a{
	vertical-align:middle;
	text-decoration:none;
	color:#ffffff;
	font-size:11px; 
}
#lin_footer_jeu li img{vertical-align:middle;}
li#footer-title {
	font-size:14px; 
	color:#757575;
	vertical-align:bottom;
}
#lin_footer_jeu li a:hover{
	text-decoration:underline;
	color:#f50f4b;
}