#lin_container {
	background-color:#440c55;
	width:989px;
	margin:auto;
}
#lin_left_section {
	width:424px;
	padding:0px;
}
#lin_left_section  p{
	text-align:center; 
	color:#f6ed9c; 
	font-weight:bolder; 
	font-size:18px;
	padding-bottom:20px;
	padding-top:25px;
}
#lin_form {
	float:left;
	width:424px; 
	height:424px; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/fond-form2.png);
}
#lin_form form {
	padding-top:73px;
	padding-left:40px;
	padding-right:25px;
}
#lin_form label {
	color:#611d72; 
	font-weight:bolder; 
	font-size:16px;
}
label .form-st {
	color:#767676; 
	font-size:12px;
}
input#zdhed-zdhed {
	width:200px;
	height:22px;
	margin-bottom:25px;
}
input#cm2585290 {
	margin-right:5px;
}
#form_quote {
	padding-top:10px;
	padding-bottom:10px;
	padding-left:25px;
}
#lin_form button {
	width:100px;
	height:25px;
	margin-left:100px;
	margin-top:5px;
	color:#611d72;
	font-weight:bolder;
}
#lin_right_section {
	width:560px;
	float:left;
}
#title-section {
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/title.jpg);
	width:560px; 
	height:202px;
	margin-top:-60px;
}
#lot-section {
	width:560px; 
	height:285px; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/lot.jpg);
	background-repeat:no-repeat;
}
#liste-lot{
	padding-top:47px;
	padding-left:15px;
	padding-right:25px;
	text-align:center;
	line-height:0.85;
}
p.lot-type5{
	color:#AD4D9C;
	display:inline;
	font-weight:;
	font-size:16px;
}
p.lot-type1{
	color:#f6eb9c;
	font-size:14px;
	display:inline;
	font-weight:;
}
p.lot-type2{
	color:#DBBA5E;
	font-size:15px;
	display:inline;
	font-weight:;
}
p.lot-type3 {
	color:#D7D5D6;
	display:inline;
	font-weight:;
	font-size:14px;
}
p.lot-type4{
	color:#A45FD4;
	font-size:14px;
	display:inline;
	font-weight:;
}
a.info-lot {
	position:relative;
	text-decoration: none;
	cursor:pointer;
}
a.info-lot:hover {
	background:none;
	z-index:500;
}
a.info-lot span.apercu-lot {display:none;}
a.info-lot:hover span {
	display:inline;
	position:absolute;
	top:0px;
	left:80px;
	background-color:white;
	padding:10px;
	border:5px outset #dbba5e;
}
img.img-lot {
	width:150px;}
#lin_footer_jeu {
	width:969px; 
	height:30px; 
	padding-left:20px; 
	float:left; 
	background-image:url(http://www.lilouplaisir.com/media/marketing/jeu/jan12/fond-foot.png);
}
#lin_footer_jeu li{
	display:inline;
}
#lin_footer_jeu li a{
	vertical-align:middle;
	text-decoration:none;
	color:#ffffff;
	font-size:11px; 
}
#lin_footer_jeu li img{
	vertical-align:middle;
}
li#footer-title {
	font-size:14px; 
	color:#757575;
	vertical-align:bottom;
}
#lin_footer_jeu li a:hover{
	text-decoration:underline;
	color:#f50f4b;
}