<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<?php $displayType = Mage::getStoreConfig('amgiftwrap/tax/sales_display'); ?>
<?php if($this->getSource() instanceof Mage_Sales_Model_Order): ?>
    <?php if ((float) $this->getSource()->getAmgiftwrapAmountRefunded()): ?>
        <?php if($displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_BOTH || $displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_INCLUDING_TAX): ?>
            <?php if($displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_BOTH): ?>
                <tr>
                    <td class="label"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap refunded to customer (Excl. Tax)') ?></strong></td>
                    <td><strong><?php echo Mage::helper('core')->currency($this->getSource()->getAmgiftwrapAmountRefunded(), true, false); ?></strong></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td class="label"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap refunded to customer (Incl. Tax)') ?></strong></td>
                <td><strong><?php echo Mage::helper('core')->currency($this->getSource()->getAmgiftwrapAmountRefunded() + $this->getSource()->getAmgiftwrapTaxAmountRefunded(), true, false); ?></strong></td>
            </tr>
        <?php else: ?>
            <tr>
                <td class="label"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap refunded to customer') ?></strong></td>
                <td><strong><?php echo Mage::helper('core')->currency($this->getSource()->getAmgiftwrapAmountRefunded(), true, false); ?></strong></td>
            </tr>
        <?php endif; ?>
    <?php endif; ?>
<?php  else: ?>
    <?php if ((float) $this->getSource()->getAmgiftwrapAmount()): ?>
        <?php if($displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_BOTH || $displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_INCLUDING_TAX): ?>
            <?php if($displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_BOTH): ?>
                <tr>
                    <td class="label"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap Refunded (Excl. Tax)') ?></strong></td>
                    <td><strong><?php echo Mage::helper('core')->currency($this->getSource()->getAmgiftwrapAmount(), true, false); ?></strong></td>
                </tr>
            <?php endif; ?>
            <tr>
                <td class="label"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap Refunded (Incl. Tax)') ?></strong></td>
                <td><strong><?php echo Mage::helper('core')->currency($this->getSource()->getAmgiftwrapAmount() + $this->getSource()->getAmgiftwrapTaxAmount(), true, false); ?></strong></td>
            </tr>
        <?php else: ?>
            <tr>
                <td class="label"><strong><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap Refunded') ?></strong></td>
                <td><strong><?php echo Mage::helper('core')->currency($this->getSource()->getAmgiftwrapAmount(), true, false); ?></strong></td>
            </tr>
        <?php endif; ?>

    <?php endif; ?>
<?php endif; ?>

