<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<?php $this->setPriceDataObject($this->getSource()) ?>
<?php $displayType = Mage::getStoreConfig('amgiftwrap/tax/sales_display'); ?>
<?php if ((float) $this->getSource()->getAmgiftwrapAmount()): ?>
    <?php if($displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_BOTH || $displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_INCLUDING_TAX): ?>
        <?php if($displayType == Mage_Tax_Model_Config::DISPLAY_TYPE_BOTH): ?>
            <tr>
                <td class="label"><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap (Excl. Tax)') ?></td>
                <td>
                    <?php echo $this->displayPrices($this->getSource()->getBaseAmgiftwrapAmount(), $this->getSource()->getAmgiftwrapAmount()); ?>
                </td>
            </tr>
        <?php endif; ?>
        <tr>
            <td class="label"><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap (Incl. Tax)') ?></td>
            <td>
                <?php echo $this->displayPrices(
                    $this->getSource()->getBaseAmgiftwrapAmount() + $this->getSource()->getBaseAmgiftwrapTaxAmount(),
                    $this->getSource()->getAmgiftwrapAmount() + $this->getSource()->getAmgiftwrapTaxAmount()
                ); ?>
            </td>
        </tr>
    <?php else: ?>
        <tr>
            <td class="label"><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap') ?></td>
            <td>
                <?php echo $this->displayPrices($this->getSource()->getBaseAmgiftwrapAmount(), $this->getSource()->getAmgiftwrapAmount()); ?>
            </td>
        </tr>
    <?php endif; ?>


<?php endif; ?>
