/* PopUp */
.colissimo-popup-container{height:100%;position:fixed !important;position:absolute;top:0;left:0;bottom:0;width:100%;background:#000;opacity:0.5;filter:alpha(opacity=50);z-index:10000}
.colissimo-popup-inner{width:920px;margin-left:-470px;overflow-y:auto;position:absolute;z-index:10001;left:50%;top:50%;border:1px solid #4A545C;text-align:left;background:url(../images/bg-popup.png);font:12px/1.55 Arial, Helvetica, sans-serif;padding:10px}

/* Content */
#colissimo-map{width:500px;height:384px;float:right}
#colissimo-list{float:left;height:384px;width:383px;overflow-y:scroll;background:#fff;margin-bottom:20px}
#colissimo-list li{border-bottom:1px solid #ccc;padding:5px 0}
#colissimo-list li.active{background:#F3FFF3}
#colissimo-list li input{display:none}
#colissimo-list li label{width:100%;cursor:pointer;display:block}
#colissimo-list .colissimo-info li{border:0}
#colissimo-list .colissimo-info span{font-weight:bold}
#colissimo-address{margin:0 0 10px 0}
#colissimo-address .field{width:auto}
#colissimo-address li{float:left;margin:0 10px 0 0}
#colissimo-address .input-box{width:170px}
#colissimo-address .input-box input{width:100%}
#colissimo-address .colissimo-address-update .input-box{width:auto}
#colissimo-customer{clear:both;margin-bottom:10px}
#colissimo-customer li{float:left;margin:0 10px 0 0}
#colissimo-customer .field{width:auto}
#colissimo-customer .input-box{width:280px}
#colissimo-customer .input-box input{width:100%}
#colissimo-customer .input-box #colissimo-customer-telephone{width:90%}
#colissimo-next{float:right;margin:10px 0 0 0}
.colissimo-title{font-size:14px;font-weight:bold;margin:0 0 10px 0;clear:both}
.colissimo-required{color:#df280a}
.colissimo-required-error{background:#FFEFEF;border:1px solid #df280a}
.colissimo-holiday{color:#df280a}

/* Mobile */
@media only screen and (max-width:920px){
    .colissimo-popup-inner{width:100%;min-width:350px;margin-left:0;left:0}
    #colissimo-map{position:relative;padding-bottom:50%;height:0;width:100%;overflow:hidden}
    #colissimo-map iframe {position:absolute;top:0;left:0;width:100% !important;height:100% !important}
    #colissimo-list{float:none;width:100%}
}