/*

Circular Content Carousel Style

*/

@font-face {
    font-family: 'Coustard';
    font-style: normal;
    font-weight: 900;
    src: local('Coustard-Black'), url(http://fonts.gstatic.com/s/coustard/v6/zZrOBKsm_2zXTCex2CMWjeL2WfuF7Qc3ANwCvwl0TnA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    src: local('Rochester'), local('Rochester-Regular'), url(http://fonts.gstatic.com/s/rochester/v6/nE50b4-SbQ54pks-8vOplxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.amgiftwrap-popup-content {
    width: 1100px;
}

.amgiftwrap-cart-button {
    text-align: left;
    padding-top: 10px;
}

.ca-container {
    position: relative;
    margin: 25px auto 20px auto;
    width: 990px;
    height: 450px;
}

.ca-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.ca-item {
    position: relative;
    float: left;
    width: 330px;
    height: 100%;
    text-align: center;
}

.ca-more {
    position: absolute;
    bottom: 10px;
    right: 0px;
    padding: 4px 15px;
    font-weight: bold;
    background: #ccbda2;
    text-align: center;
    color: white;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    display: none;
}

.ca-more:hover {
    background: #CFAE71;
}

.ca-choose {
    position: absolute;
    bottom: 10px;
    left: 0px;
    padding: 4px 15px;
    font-weight: bold;
    background: #ccbda2;
    text-align: center;
    color: white;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    display: none;
}

.ca-choose:hover {
    background: #CFAE71;
}

.ca-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff url(img/cross.png) no-repeat center center;
    width: 27px;
    height: 27px;
    text-indent: -9000px;
    outline: none;
    -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.ca-close:hover {
    opacity: 1.0;
}

.ca-item-main.selected {
    outline: 2px dotted forestgreen;
}

.ca-item-main {
    padding: 20px;
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    background: #fff;
    overflow: hidden;
    -moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.ca-icon {
    width: 233px;
    height: 189px;
    position: relative;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
}

.ca-item h3 {
    font-family: 'Coustard', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    margin-bottom: 20px;
    padding-top: 20px;
    max-height: 65px;
    text-align: center;
    text-shadow: 0px 1px 1px #e4ebe9;
}

.ca-item h4 {
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    font-size: 12px;
    text-align: left;
    padding-left: 10px;
    line-height: 24px;
    margin: 10px;
    position: relative;
    text-transform: none;
}

#section-flip-4 {
    overflow-y: scroll;
}

a.flip-5 {
    text-overflow: clip !important;
    font-style: normal;
}

.amgiftwrap-text {
    padding-bottom: 10px;
    text-align: left;
    font-style: normal;
}

#section-flip-2 .ca-content h6 {
    margin: 10px 20px 0px 35px;
    font-size: 25px;
}

.content-wrap #messages {
    margin-bottom: -25px;
}

#section-flip-5 {
    width: 600px;
    padding: 10px 40px;
    background: white;
    box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.25);
    margin: 0;
}

#section-flip-5 .form-list {
    padding-bottom: 20px;
    margin: 0;
}

#section-flip-5 .form-list textarea {
    height: 10em;
    margin-bottom: 15px;
}

.ca-item h4 span {
    text-indent: 50px;
    display: block;
    text-transform: none;
}

.ca-item h4 span.ca-quote {
    color: #f4eee3;
    font-size: 100px;
    position: absolute;
    top: 20px;
    left: 0px;
    text-indent: 0px;
    text-transform: none;
}

span.ca-price {
    position: absolute;
    top: 10px;
    right: 0px;
    padding: 4px 15px;
    font-weight: bold;
    background: #494642;
    text-align: center;
    color: white;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    z-index: 9000;
}

span.ca-number {
    position: absolute;
    top: 10px;
    left: 5px;
    padding-top: 2px;
    padding-right: 6px;
    padding-bottom: 3px;
    padding-left: 6px;
    font-weight: bold;
    background: #494642;
    text-align: center;
    color: white;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    border-radius: 15px;
    -moz-border-radius: 15px;
    opacity: 0.5;
    width: 10px;
    font-size: 11px;
    z-index: 9000;
}

.ca-content-wrapper {
    background: #b0ccc6;
    position: absolute;
    width: 0px; /* expands to width of the wrapper minus 1 element */
    height: 440px;
    top: 5px;
    text-align: left;
    z-index: 10000;
    overflow: hidden;
}

.ca-content {
    width: 660px;
    overflow: hidden;
}

.ca-content-text {
    font-size: 14px;
    font-style: italic;
    font-family: "Georgia", "Times New Roman", serif;
    margin: 10px 20px;
    padding: 10px 20px;
    line-height: 24px;
}

.ca-content-text p {
    padding-bottom: 5px;
}

.ca-content h6 {
    margin: 25px 20px 0px 35px;
    font-size: 32px;
    padding-bottom: 5px;
    color: #000;
    font-family: 'Coustard', sans-serif;
    color: #60817a;
    border-bottom: 2px solid #99bcb4;
    text-shadow: 1px 1px 1px #99BCB4;
}

.ca-content ul {
    margin: 20px 35px;
    height: 30px;
}

.ca-content ul li {
    float: left;
    margin: 0px 2px;
}

.ca-content ul li a {
    color: #fff;
    background: #000;
    padding: 3px 6px;
    font-size: 14px;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
}

.ca-content ul li a:hover {
    background: #fff;
    color: #000;
    text-shadow: none;
}

.ca-nav span {
    width: 25px;
    height: 38px;
    background: transparent url(img/arrows.png) no-repeat top left;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: -40px;
    text-indent: -9000px;
    opacity: 0.7;
    cursor: pointer;
    z-index: 100;
}

.ca-nav span.ca-nav-next {
    background-position: top right;
    left: auto;
    right: -40px;
}

.ca-nav span:hover {
    opacity: 1.0;
}

/* -------------  */

.ca-container a {
    color: #000;
    text-decoration: none;
}

.ca-container .clr {
    clear: both;
}

.ca-container h1, h5 {
    margin: 15px;
    font-size: 44px;
    color: #000;
    font-family: 'Rochester', sans-serif;
    text-shadow: 1px 1px 1px #fff;
    text-align: center;
}

.ca-container h1 span, h5 {
    font-size: 20px;
    display: block;
    color: #60817a;
}

/* Header Style */
.ca-container .header {
    height: 25px;
    line-height: 24px;
    font-size: 13px;
    background: #000;
    opacity: 0.9;
    text-transform: uppercase;
    z-index: 4;
}

.ca-container .header a {
    padding: 5px 10px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
    color: #ddd;
    text-align: right;
}

.ca-container .header a:hover {
    color: #fff;
}

.ca-container .header a span {
    font-weight: bold;
}

.ca-container .header span.right_ab {
    position: absolute;
    right: 4px;
}

#amgiftwrap_popup_form_save_button {
    padding: 8px 20px;
    font-weight: bold;
    background: #ccbda2;
    text-align: center;
    color: black;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

#amgiftwrap_popup_form_save_button:hover {
    background: #CFAE71;
}

#amgiftwrap_design_clear {
    padding: 4px 10px 2px 10px;
    font-weight: bold;
    background: #ccbda2;
    text-align: center;
    color: black;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    float: right;
}

#amgiftwrap_design_clear:hover {
    background: #CFAE71;
}

#amgiftwrap_message_cards_clear {
    padding: 4px 10px 2px 10px;
    font-weight: bold;
    background: #ccbda2;
    text-align: center;
    color: black;
    font-family: "Georgia", "Times New Roman", serif;
    font-style: italic;
    text-shadow: 1px 1px 1px #897c63;
    border: none;
    margin-top: 5px;
    cursor: pointer;
    float: right;

}

#amgiftwrap_message_cards_clear:hover {
    background: #CFAE71;
}

/* ---------------- */

/*****************************/
/* Flip Tabs */
/*****************************/

.tabs-style-flip {
    max-width: 1200px;
}

.tabs-style-flip nav a {
    padding: 0.5em 0;
    color: #2CC185;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.tabs-style-flip nav a:hover,
.tabs-style-flip nav a:focus,
.tabs-style-flip nav li.tab-current a {
    color: #74777b;
}

.tabs-style-flip nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.625em;
}

.tabs-style-flip nav a::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #f0f0f0;
    content: '';
    -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
    transition: transform 0.3s, background-color 0.3s;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-perspective-origin: 50% 100%;
    perspective-origin: 50% 100%;
}

.tabs-style-flip nav li.tab-current a::after {
    background-color: #fff;
    -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
}

.tabs-style-flip .content-wrap {
    background: #fff;
    min-height: 520px;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

/* Nav */
.tabs nav {
    text-align: center;
    background-color: rgb(247, 247, 247);
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    /*-webkit-justify-content: center;*/
    /*-moz-justify-content: center;*/
    /*-ms-justify-content: center;*/
    /*justify-content: center;*/
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: inline-block;
    margin: 0;
    text-align: center;
    min-width: 180px;
    /*-webkit-flex: 1;*/
    /*-moz-flex: 1;*/
    /*-ms-flex: 1;*/
    /*flex: 1;*/
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    padding-left: 10px;
    padding-right: 10px;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block;
}

/*.content-wrap section p {*/
/*margin: 0;*/
/*padding: 0.75em 0;*/
/*color: rgba(40,44,42,0.05);*/
/*font-weight: 900;*/
/*font-size: 4em;*/
/*line-height: 1;*/
/*}*/

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }

    .tabs nav a:before {
        margin-right: 0;
    }
}

.amgiftwrap-heading {
    font-weight: bold;
    padding-bottom: 10px;
}

.amgiftwrap-list div {
    width: 600px;
    padding-top: 20px;
}

.amgiftwrap-list h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.tabs .content-wrap .messages {
    text-decoration: none;
    width: 500px;
    padding-top: 10px;
    text-align: left;
}

.amgiftwrap-loader {
    width: 1000px;
    height: 650px;
    background-color: white;
}

.amgiftwrap-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.amgiftwrap-list li {
    font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

.amgiftwrap-list li:last-child {
    border: none;
}

.amgiftwrap-list li a {
    text-decoration: none;
    color: #000;
    display: block;
    cursor: default;
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.amgiftwrap-list li a:hover {
    background: #f6f6f6;
}

.amgiftwrap-cart-button-text {
    padding-bottom: 10px;
}

.amgiftwrap-cart-button-text ul {
    margin-left: 10px;
    list-style: disc inside;
}