<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Brands
 */
?>
<?php
$cssClass = $this->getClass() == 'product-view' ? 'product-view ambrands-link' : 'ambrands-link';
$brands = $this->getBrands() ?>
<?php if ($brands): ?>

        <?php foreach ($brands as $brand): ?>
            <?php $brandName = $this->htmlEscape($brand->getName()); ?>

                <a href="<?php echo $brand->getUrl()?> " target="_blank">
                    <?php if ($brand->getImage()): ?>
                        <img title="<?php echo $brandName; ?>"
                                alt="<?php echo $brandName; ?>"
                                src="<?php echo $brand->getImageUrl()?>">
                    <?php else : ?>
                        <?php echo $brandName; ?>
                    <?php endif; ?>
                </a>

        <?php endforeach ?>

<?php endif; ?>
