#checkoutSteps {
    .col2-set {
					.col-1 {
			          @include media(max-xs) {
			              float: none !important;
			              width: auto !important;
			          }
          }
					.col-2 {
			          @include media(xs) {
			              float: right !important;
			              width: 48.5% !important;
			          }
          }
    }
		.form-list li .input-box {
					float: none !important;
					width: auto !important;
					.input-text,
					textarea {
							@include media(max-xs) {
								width: 100% !important;
							}
					}
		}
}

#checkout-step-login {
		position: relative;
		@include media(max-xs) {
					.col-2 > h4 {
									margin-top: 80px;
					}
					.col2-set > .col-1 {
								width: 221px !important;
								> .button-set {
												position: absolute;
												top: 152px;
								}
					}
		}
}
@include media(max-xs) {
		.one-page-checkout {
					width: 280px;
			    margin: 0 auto;
		}
}
@include media(max-sm) {
		#checkout-progress-wrapper {
				display: none;
		}
}

input.input-text, textarea {
			width: 100%;
			padding: 10px;
			font-size: 14px;
			box-sizing: border-box;
			@include media(md) {
					width: auto;
					padding: 2px;
					font-size: 11px;
			}
}

.form-list li .input-box {
			 @include media(max-sm) {
				 		margin-top: 10px;
			 }
			.input-text,
			textarea {
						width: 100%;
						@include media(md) {
								width: 250px;
						}
			}
}

.form-button, .form-button-alt {
    overflow:visible;
    width:auto;
    border:0;
    background:#611D74;
    color:#fff;
    border:1px solid #712563;
    cursor:pointer;
    text-align:center;
    vertical-align:middle;
		padding: 5px 15px;
		font: bold 14px arial, sans-serif !important;
		@include media(md) {
					padding:1px 8px;
					font-size: 12px;
		}
}


.one-page-checkout .box {
		padding: 15px 10px;
		background:#faf7ee;
		border:1px solid #bbb6a5;
		border-top:0;
		@include media(sm) {
					 padding:15px 20px;
		}
}

.group-select {
    margin:28px 0;
    padding:22px 25px 12px 25px;
    background:#fbfaf6;
		@include media(md) {
				border:1px solid #bbafa0 !important;
		}
		li {
					@include media(md) {
							 padding: 4px 8px;
					}
					.input-box {
								@include media(md) {
									float:left;
									width:275px;
								}
								select {
										width: 100%;
										height: 35px;
										@include media(md) {
												width:256px;
												height: auto;
										}
								}
					}
					.input-text,
					select,
					textarea {
							@include media(md) {
										width:525px;
							}
					}
		}
}
.customer-name-prefix .name-prefix {
		@include media(md) {
				width:60px !important;
		}
		select {
					width: 100% !important;
					height: 35px;
					@include media(md) {
							width:51px !important;
							height: auto;
				 	}
		}
		.name-firstname input {
				@include media(md) {
			    width: 190px !important;
				}
		}

}


.giftmessages {
			.group-select li .input-box {
					@include media(md) {
							float:left;
							width:260px;
					}
			}
			.gift-box {
			    background-color:#f6f1eb;
			    border-top:1px solid #e9e4de;
			    border-bottom:1px solid #e9e4de;
			    padding:22px 16px 22px 10px;
					@include media(md) {
						    padding: 22px 16px 22px 22px;
					}
			}
}

#gift-message-whole-message,
#ordercomment {
		width: 100% !important;
		@include media(md) {
				width: 450px !important;
		}
}
#order_review_form ol.checkout-agreements,
#checkout-agreements ol.checkout-agreements {
		padding-left: 0 !important;
		// @include media(md) {
		// 		padding-left: 385px !important;
		// }
}


.multi-address-checkout-box {
      .col2-set {
                .col-2,
                .col-1 {
                    float: none;
                }
                .col-1 {
                    @include media(xs-mid) {
                          float: left;
                    }
                }
            .col-2 {
                @include media(xs-mid) {
                      float: right !important;
                }
                .head {
                    margin-top: 10px;
                    @include media(xs-mid) {
                        margin-top: 0;
                    }
                }
            }
      }
}
