body {
      #wrapper {
          @include media(sm) {
                width: 750px;
          }
          @include media(md) {
                width: 970px;
          }
          @include media(lg) {
                width: 1024px;
          }
          .left {
              position:relative;
          		@include media(md) {
          				float:left;
          		}
          }
          .col-2-right-layout .col-main {
              @include media(md) {
                  float:left;
                  width:745px;
              }
          }
      }
}
