.side-col {
    @include media(md) {
            width: 214px;
    }
    @include media(lg) {
            width: 226px;
    }
    .part {
        @include media(max-sm) {
              margin: 0 auto 10px;
              width: 209px;
        }
    }
}
.col-left {
      @include media(md) {
            float:left;
      }
}
.middle {
      @include media(lg) {
          min-height:400px;
          margin:0 auto;
          text-align:left;
          margin-top:1px;
          // background:url(../images/main_bg.gif) repeat-x #fffffe;
          padding:15px 15px 20px;
      }
}

.middle-container {
    @include media(max-md) {
          margin: 15px 0;
    }
    @include media(max-sm) {
          padding-left: 15px;
          padding-right: 15px;
    }
    @include media(between-sm-md) {
          .col-left,
          .col-main {
                  float: left;
          }
          .col-left {
                  width: 215px;
          }
          .col-main {
                  width: 520px;
                  padding: 0 0 0 20px;
                  box-sizing: border-box;
          }
    }
}

.partgold {
    margin-bottom:10px;
    > .slicknav_menu {
        @include media(sm) {
            display: none;
        }
        background: transparent;
        padding: 0;
        .slicknav_icon {
            display: none;
        }
        .slicknav_menutxt {
            float: none;
            text-align: center;
            text-shadow: none;
            display: block;
            background-color: #e1e1e1;
            color: #532a62;
            padding: 13px 16px;
            text-transform: none;
            font-size: 16px;
        }
        .slicknav_btn {
            background-color: transparent;
            float: none;
            text-shadow: none;
            padding: 0;
            margin: 0;
        }
        .slicknav_nav a {
            margin: 0;
            &:hover {
                border-radius: 0;
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
            }
        }
        .slicknav_nav li {
            line-height: 1.3em;
        }
        dt.even,
        dt.odd {
              color: #450c56;
  						text-transform: uppercase;
  						position: relative;
  						padding-left: 30px;
  						padding-top: 22px;
  						border-top: solid 1px #e2e2e2;
  						font: {
  								size: 12px;
  						    weight: 700;
  						    family: 'arial';
  						}
  						&:before {
  									content: "";
  									width: 6px;
  									height: 9px;
  									display: block;
  									background: url(#{$image-path}sidebar/icon-arrowright.png) no-repeat;
  									background-size: contain;
  									position: absolute;
  							    left: 19px;
  							    top: 24px;
  						}
        }
        dd {
              padding: 22px 15px 10px 19px;
              ol li {
                  margin-bottom: 18px;
                  > a {
                        color: #000;
                        text-decoration: none;
                        font: {
                            size: 12px;
                            family: 'arial';
                        }
                        &:hover {
                            color: #681c7e;
                            font-weight: 700;
                            background: transparent;
                        }
                        span.brands-cell,
                        span.count {
                            margin-left: 0;
                            float: none;
                            display: inline-block;
                        }
                  }
              }
        }
    }
}


.col-main {
      @include media(md) {
            float: left;
      }
}

.col-3-layout {
      .col-main {
              @include media(md) {
                    width: 742px;
                    margin-left:14px;
              }
              @include media(lg) {
                    width:754px;
              }
              .category-image > img {
                    max-width: 100%;
                    display: none;
              }
      }
}

/***
* categories list
*/

#listcategoriesbody {
    .toolbar {
        margin-top: 30px;
        padding-bottom: 19px;
        border-bottom: solid 1px #e7e7e7;
        position: relative;
    }
    .product-image img {
        min-height: 200px;
    }
    iframe {
        max-width: 100%;
    }
    > .products-grid {
          @include clearfix;
              > ol.grid-row:after {
                  clear: none;
              }
    }
    .toolbar .pager tr td {
        @include media(max-md) {
              width: 38%;
              &:nth-child(2) {
                  text-align: center;
              }
              &:nth-child(3) {
                  display: none;
              }
        }
        @include media(max-xs) {
              width: 50%;
              &:first-child {
                  display: none;
              }
              &:nth-child(2) {
                  text-align: left;
              }
        }
    }


    // product listing grid
    .catalog-listing.listing-grid {
          margin-top: 18px;
          @include media(max-sm){
            max-width: 516px;
            margin: 18px auto 0;
            text-align: center;
          }
          @include media(max-xs-mid){
            max-width: 350px;
          }
          ol > li {
                width: 238px;
                height: 440px;
                float: left;
                margin-left: 20px;
                text-align: left;
                @include media(sm) {
                    &:nth-child(2n+1) {
                        margin-left: 0;
                    }
                }
                @include media(md) {
                    width: 234px;
                    &:nth-child(2n+1) {
                        margin-left: 20px;
                    }
                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }
                }

                .listing-prod-image {
                    border: solid 1px #e5e3e4;
                    margin-bottom: 12px;
                    padding-bottom: 12px;
                    text-align: center;
                    img {
                        margin: 10px 0;
                    }
                    button {
                        width: 134px;
                        height: 29px;
                        margin: 0 auto;
                        display: block;
                        opacity: 0;
                        color: #440c55;
                        font-size: 9px;
                        font-weight: 700;
                        text-transform: uppercase;
                        padding-left: 20px;
                        border: solid 1px #e5e3e4;
                        position: relative;
                        background-image: url(#{$image-path}sidebar/icon-ncart.png);
                        background-color: transparent;
                        background-repeat: no-repeat;
                        background-position: 5px 3px;
                        cursor: pointer;
                        &:active,
                        &:focus {
                          outline: 0;
                        }
                    }
                    &,
                    button {
                          -webkit-transition: .2s all;
                          -webkit-transition-delay: .2s;
                          -moz-transition: .2s all;
                          -moz-transition-delay: .2s;
                          -ms-transition: .2s all;
                          -ms-transition-delay: .2s;
                          -o-transition: .2s all;
                          -o-transition-delay: .2s;
                          transition: .2s all;
                          transition-delay: .2s;
                    }
                    &:hover {
                        border-color: transparent;
                        button {
                            opacity: 1;
                        }
                        &,
                        button {
                              -webkit-transition-delay: 0s;
                              -moz-transition-delay: 0s;
                              -ms-transition-delay: 0s;
                              -o-transition-delay: 0s;
                              transition-delay: 0s;
                        }
                    }
                }
                h5 {
                  width: 133px;
                  float: left;
                      a {
                          color: #000;
                          text-decoration: none;
                          font: {
                              weight: normal;
                              size: 12px;
                              family: 'arial';
                          }
                      }
                }
                .price-box {
                    padding: 0;
                    float: right;
                    font-family: 'Arial';
                    width: 101px;
                    text-align: right;
                    .special-price {
                        margin: 0 3px 0 0;
                        padding: 5px 3px 3px 6px;
                        color: #fff;
                        background: #691c7e;
                        border-radius: 10px;
                        .price {
                            color: #fff;
                            font-size: 15px;
                            font-weight: normal;
                        }
                    }
                    .old-price {
                        span:first-child {
                          display: none;
                        }
                        .price {
                            color: #959595;
                            text-decoration: line-through;
                            font: {
                                weight: normal;
                                size: 12px;
                            }
                        }
                    }
                    &.minipricewrap {
                          .regular-price .price {
                              font-size: 13px;
                              color: #440c55;
                          }
                          a.minimal-price-link {
                              text-decoration: none;
                              > span.label {
                                    color: #323232;
                                    font: {
                                        size: 11px;
                                        style: italic;
                                    }
                              }
                              > span.price {
                                    font-size: 15px;
                                    line-height: 1.7;
                                    margin: 0 3px 0 0;
                                    padding: 2px 5px 3px 5px;
                                    color: #fff;
                                    background: #691c7e;
                                    border-radius: 10px;
                              }
                          }
                    }
                }
                .regular-price .price {
                      font: {
                          weight: normal;
                          size: 15px;
                      }
                      color: #440c55;
                }
                .listing-prod-sku {
                      margin-top: 2px;
                      color: #898989;
                      font: {
                          weight: normal;
                          size: 11px;
                          family: 'arial';
                      }
                }
          }

          @include media(max-xs-mid) {
                ol {
                  display: inline-block;
                  > li {
                    float: none;
                    margin-left: 0;
                  }
                }
          }

    }
}

#listcategoriesbottom {
    @include media(lg) {
        width:751px;
        height:12px;
        background:url('../images/list-cat-bottom.gif') no-repeat;
    }
}

// #listcategoriestop {
//     @include media(lg) {
//           width:751px;
//           height:12px;
//           background:url('#{$image-path}list-cat-top.gif') no-repeat;
//           margin-top:10px;
//     }
// }

/**
* Fiche produit
**/

h1.product-name{
    font-size:21px;
    font-family: Candara, Arial;
    color:#611D73;
    margin-left: 10px;
    @include media(md) {
        width: 600px;
        margin-left:20px;
        float:left;
    }
}

.brandprodimg {
    margin-left: 10px;
    @include media(md) {
        margin-left: 0;
        float:left;
    }
}

.product-shop .price_stock {
    margin-bottom:10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #0006;
    padding: 10px 15px;
    @include media(sm) {
          width:407px;
          height:75px;
          background:url('../images/price_stock_bg.png') no-repeat;
          box-shadow: none;
          background-color: transparent;
          padding: 0;
          .prod_type {
              width:380px;
              margin:auto;
              padding-top:12px;
          }
    }

}

/********************** Product Detail */
/* Product Images */
.product-img-box {
    @include media(md) {
        float:left;
        width:267px;
    }
}

.product-essential .product-shop {
    border:1px solid #d8d8d8;
    background:#edecec;
    padding:10px;
    float: none;
    font-size: 13px;
    @include media(md) {
        width:405px;
        float: right;
        font-size: 11px;
    }
    .ratings { margin-bottom:10px; }
}

.product-shop .attprodview {
        font-size:13px;
        margin-bottom:10px;
        @include media(md) {
            font-size:12px;
        }

}
/**
* Listing products
*/
.listing-type-grid li.item {
    border: solid 1px #e7e7e7;
    line-height:1.6em;
    overflow:hidden;
    margin: 12px auto;
    width:225px;
    height:327px;
    @include media(xs-mid) {
        float:left;
        margin:12px 9px;
    }
    @include media(sm) {
        margin:12px 10px;
    }
    @include media(lg) {
        margin:12px 12px;
    }
}

/********************** Base Layout */
.col-2-left-layout .col-main {
    @include media(md) {
        float:right;
        width:745px;
    }
}


.cart > form {
    width: 100%;
    overflow: auto;
}

.shopping-cart-collaterals {
      width: 305px !important;
      margin: 0 auto;
      @include media(max-xs-mid) {
          float: none !important;
      }
      @include media(xs) {
          width: 320px !important;
      }
      @include media(md) {
          width: 605px !important;
      }
}

.col2-set .col-2 {
    @include media(max-md) {
      float: none !important;
      width: auto !important;
    }
}
.shopping-cart-totals {
    @include media(max-xs-mid) {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}

.col-left.side-col > .part {
    @include media(max-sm) {
        display: none;
    }
}


/********************** Product Detail */
/* Product Images */
.product-img-box .product-image-zoom {
      position:relative;
      overflow:hidden;
      height:230px;
      z-index:9;
      @include media(md) {
          width:265px;
          height:353px;
      }
}


a#minicheckout{
    float:right;
    position:relative;
    background-image: linear-gradient(to top, #451453, #4b1759, #511a5f, #581e66, #5e216c);
    padding: 6px 10px 8px;
    color: #fff;
    text-decoration: none;
    font: {
      size: 10px;
      weight: 600;
    }
    border-radius: 29px;
    margin-top: 5px;
    margin-right: 5px;
    &:hover {
          background-image: linear-gradient(to bottom, #f7eb9d, #f0df89, #e9d376, #e3c763, #ddbb4f);
          border-color: #f7eb9d;
          color: #000;
    }
    // @include media(sm) {
    //         display:block;
    //         width:84px;
    //         height:20px;
    //         background:url('../images/minicommander.gif') top no-repeat;
    //         margin-top:10px;
    //         text-indent: -9999px;
    //         padding: 0;
    //         &:hover {
    //             background:url('../images/minicommander.gif') bottom no-repeat;
    //         }
    // }
}

.add-to-cart-box .qty-box .qty {
      float:left;
      margin:0 5px;
      width: 2.5em;
      padding: 2px;
}
