#footertop {
		@include media(lg) {
				width:1024px;
				height:147px;
				background:url(#{$image-path}footer_top2.jpg) no-repeat;
		}
		@include media(max-lg) {
								text-align: center;
								background-image: linear-gradient(to bottom, #f0f0f0, #e9e9ea, #e3e2e3, #dddcdd, #d7d5d6);
								padding: 20px 0 0;
								border: solid 2px #E2E2E2;
						    border-radius: 10px;
								.footer-icons {
										background-image: linear-gradient(to bottom, #f6eb9c, #efdf89, #e9d376, #e3c762, #ddbb4f);
										padding: 15px;
										border-bottom-left-radius: 10px;
										border-bottom-right-radius: 10px;
										text-align: center;
										> a {
													margin: 0 !important;
											    display: inline-block;
											    padding: 5px 5px 5px 20px;
													position: relative;
													&:before {
															content: " ";
															display: block;
															width: 16px;
															height: 16px;
															background-repeat: no-repeat;
															background-size: contain;
															position: absolute;
															top: 2px;
															left: 0;
													}
													&:first-child:before {
																background-image:url(#{$image-path}icon_1.png);
													}
													&:nth-child(2):before {
																background-image:url(#{$image-path}icon_2.png);
													}
													&:nth-child(3):before {
																background-image:url(#{$image-path}icon_3.png);
													}
													&:nth-child(4):before {
																background-image:url(#{$image-path}icon_4.png);
													}
													&:nth-child(5):before {
																background-image:url(#{$image-path}icon_5.png);
													}
										}
								}
		}
}


.futurpoint {
			margin-top:10px;
			text-align:center;
			overflow:hidden;
			@include media(max-lg) {
						width: 270px !important;
			}
			@include media(max-md) {
						width: 259px !important;
			}
			@include media(max-lg) {
				    background: #fff;
				    border: solid 2px #E2E2E2;
				    border-radius: 8px;
				    padding: 20px;
				    margin: 0 auto 10px;

			}
			@include media(between-sm-lg) {
					display: inline-block;
					height: 90px;
					margin-left: 5px;
			    margin-right: 5px;
			}
			@include media(lg) {
							height:114px;
							float:left;
							margin-right:20px;
			}
			.title {
					color:#450c56;
					font-family:Arial, Helvetica, sans-serif;
					font-size:14px;
					text-align:center;
	        font-weight:bold;
			}
			p {
					color:#505050;
					margin-top:10px;
			}
}


#fp1{
			width:265px;
			p {
					width:200px;
					margin-left:auto;
					margin-right:auto;
			}
}


#fp2{
			width:225px;
}

#fp3{
			width:272px;
			p{
				width:230px;
				margin-left:auto;
				margin-right:auto;
			}
}


#fp4{
			width:165px;
}


#footermiddle {
	background-image: linear-gradient(to bottom, #601c75, #58186d, #511465, #49115d,
	#420d55);
	margin-top:15px;
	color:#fff;
	text-align:center;
	padding-top:7px;
	padding-bottom: 10px;
	@include media(md) {
			height:28px;
			background:url('../images/footermiddle_bg.jpg') repeat-x;
			padding-bottom: 0;
	}
	a {
			font-size:10px;
			font-weight:bold;
			color:#fff;
			text-decoration:none;
			@include media(max-md) {
					display: inline-block;
					margin: 5px;
			}
			@include media(md) {
					margin:25px;
			}
			@include media(lg) {
					font-size:11px;
			}
	}
}
