#header {
			@include media(max-sm) {
	    		margin-bottom: 20px;
			}
}
#headerlinks {
	 @include clearfix;
	 height: 25px;
	 ul li {float: left;}
	 background-image: linear-gradient(to bottom, #efefef, #e9e9e9, #e4e3e4, #deddde, #d9d7d8);
	 @include media(lg) {
		 		background:url(#{$image-path}headerlinks_bg.jpg) repeat-x;
	 }
	 @include media(max-sm) {
		 		display: none;
			 	padding: 10px 15px 20px;
				height: auto;
				text-align: center;
				ul li {
					margin: 5px;
					float: none;
					display: inline-block;
				}
	 }
}

#logo {
			position: relative;
			@include media(max-sm) {
					height: 75px;
			}
			> a {
						display:block;
						@include media(sm) {
									float:left;
						}
						@include media(lg) {
									max-width: 435px;
						}
						@include media(max-lg) {
									max-width: 395px;
						}
						@include media(max-md) {
									max-width: 230px;
						}
						@include media(max-sm) {
								position: absolute;
								max-width: 255px;
								top: 10px;
								z-index: 1;
						}
						@include media(between-sm-md) {
									margin-top: 20px;
						}
						> img {
									max-width: 100%;
						}
			}

			.login-mobile {
					@include media(sm) {
							display: none;
					}
					@include media(max-sm) {
							position: absolute;
					    top: 5px;
					    right: 10px;
					}
			}

}

.newheaderinfo {
		@include media(max-sm) {
				margin: 0 auto;
				max-width: 615px;
				display: none;
		}
		@include media(sm) {
				width: 550px;
				float: right;
				margin-left: -30px;
		}
		@include media(md) {
				width: 619px;
				margin-left: -50px;
		}
		color: #7d7d7d;

		&.newheaderinfo1 {
					@include media(sm) {
							width: 545px;
					}
					@include media(md) {
							margin-left: 0;
					}
		}

		a,
		strong {
			color: #440c55;
			font-size: 11px;
			@include media(md) {
					font-size: 12px;
			}
		}
		a {
				text-decoration: none;
				font-weight: 700;
		}

		&_item1,
		&_item2,
		&_item3,
		&_item3-1 {
				margin-top: 14px;
				text-align: center;
				box-sizing: border-box;
				margin-left: auto;
				margin-right: auto;
				@include media(xs-mid) {
						float: left;
				}
				@include media(max-md) {
						height: 72px;
						font-size: 10px;
				}
				@include media(md) {
						height: 78px;
				}
		}

		&_item1,
		&_item2,
		&_item3,
		&_item3-1 {
					width: 198px;
					@include media(max-xs) {
						width: 50%;
					}
			    border-radius: 8px;
			    border: solid 1px #d8d6d7;
					padding-top: 18px;
					padding-left: 5px;
					padding-right: 5px;
					padding-bottom: 0;
					position: relative;
					box-sizing: border-box;
					margin-bottom: 10px;
					@include media(between-sm-md) {
							width: 180px;
							padding-left: 0px;
							padding-right: 0px;
					}
					@include media(lg) {
							padding-top: 24px;
					}
					&:before {
								content: " ";
								width: 30px;
								height: 20px;
								display: block;
								background-position: center;
								background-repeat: no-repeat;
								position: absolute;
								top: -11px;
								left: 0;
								right: 0;
								margin: 0 auto;
								background-color: #fff;
								box-sizing: border-box;
						}

		}
		&_item1 {
				background: url(#{$image-path}bg-tel.png) no-repeat;
				background-position: 98% 100%;
		    background-size: 32px;
				@include media(md) {
						background-size: 48px;
				}
				@include media(lg) {
						background-size: 65px;
				}
				&:before {
							content: " ";
					    background-image: url(#{$image-path}icon-phone.png);
							background-size: 20px;
				}
		}
		&_item2 {
				background: url(#{$image-path}bg-portsofferts.png) no-repeat;
				background-position: center right;
		    background-size: 60px;
				@include media(md) {
						background-size: 85px;
				}
				@include media(lg) {
						background-size: 120px;
				}
				&:before {
							content: " ";
					    background-image: url(#{$image-path}icon-portofferts.png);
							background-size: 25px;
				}
		}
		&_item3 {
				line-height: 56px;
				border-color: transparent;
				@include media(md) {
							width: 140px;
				}
			  a {
							position: relative;
							&:before {
									content: " ";
									width: 20px;
									height: 20px;
									display: block;
									background: url(#{$image-path}icon-moncompte.png) no-repeat;
									background-size: contain;
									position: absolute;
							    top: -25px;
									left: 0;
							    right: 0;
							    margin: 0 auto;
							}
				}

				&-1 {
							text-align: left;
							background: url(#{$image-path}bg-cart.png) no-repeat;
							background-position: center right;
					    background-size: 60px;
							@include media(md) {
									background-size: 70px;
							}
							@include media(lg) {
									background-size: 100px;
							}
							&:before {
										content: " ";
								    background-image: url(#{$image-path}icon-lock.png);
										background-size: 20px;
							}
				}
		}
		&_item2,
		&_item3-1 {
					@include media(xs-mid) {
							margin-left: 8px;
					}
					@include media(between-sm-md) {
							margin-left: 5px;
					}
		}

}

#headerinfo {
		@include media(between-sm-md) {
	   padding: 5px 0;
	 }
		@include media(between-xsmid-sm) {
				display: block;
		    margin: 0 auto;
		    width: 574px;
		}
		@include media(md) {
				width: 515px;
				float: right;
		}
}

#infofraisdeport,
#clientaccount,
#infolilouplaisir {
		@include media(max-sm) {
    	width: 290px;
		}
		@include media(max-md) {
			margin: 0 auto;
		}
		@include media(between-xsmid-sm) {
			float: left;
		}
}

#infolilouplaisir {
	@include media(max-sm) {
		margin-bottom: 10px;
		background-size: 35px;
		background-position: left center;
	}
	@include media(max-xs) {
			display: none;
	}
	@include media(between-xsmid-sm) {
				width: 184px;
		    height: 50px;
		    position: absolute;
		    top: 10px;
		    left: 40%;
		    padding-left: 47px;
		    text-align: left;
	}
	@include media(sm) {
		float: left;
		margin-right:5px;
		width:184px;
		height:114px;
	}
	@include media(between-sm-md) {
		height: 110px;
	}
}



#breadcrumbs {
	@include media(lg) {
			width:1024px;
			height:30px;
			margin:auto;
	}
	@include media(xs-mid) {
			background:url('../images/breadcrumbs_bg.jpg') repeat-x;
	}
	@include clearfix();
	@include media(max-xs) {
			 background-image: linear-gradient(to bottom, #f0f0f0, #eaeaea, #e4e3e4, #dfddde, #dad6d7);
		   ul {max-width: 260px;}
	}
}

#searchbar {
    float: right;
    width: 150px;
		@include media(lg) {
			    width: 240px;
		}

		input#search {
					width: 105px;
					@include media(lg) {
						    width: 200px;
					}
		}
}

#breadcrumbs,
#infofraisdeport,
#clientaccount {
		@include media(max-sm) {
			display: none;
		}
}


#minicart{
	// position:relative;
	// height:54px;
	// overflow:hidden;
	// border:1px solid #cccccc;
	// margin-top:4px;
	// @include media(md) {
  // 	float:left;
	// 	width:235px;
	// }
	#yourcart {
		   margin-top: 0px;
	}
}
