/*
 * Container
 */
#container{
	padding-top:15px;
	padding-bottom:15px;
	margin:auto;
  min-height:500px;
  @include media(lg) {
    	 width:989px;
  }
}

/*
 * Nos engagement
 */
#noseng{
    position: relative;
    width: 211px;
    margin: 0 auto;
    @include media(xs-mid) {
  	     float:left;
    }
}

/*
 * Fin de nos engagement
 */

 .center{
      position:relative;
      @include media(sm) {
          width:539px;
          float:left;
      }
      @include media(md) {
          width:548px;
      }
      @include media(lg) {
          width:567px;
      }
 }

 h1#slogan{
 	color:#611d73;
 	font-size:16px;
 	text-align:center;
 }


 /*the blocks*/
 #wrapper-new-category-products{
     overflow:hidden;
     margin:auto;
     margin-top:15px;
		 @include media(max-xs) {
		 		padding: 0 5px;
		 }
     @include media(xs-mid) {
        width: 414px;
     }
     @include media(sm) {
         width:537px;
         height:340px;
     }
     @include media(md) {
         width:527px;
     }
     @include media(lg) {
         width:550px;
     }
     .prod_by_cat_btn_cart {
       @include media(between-xsmid-sm) {
           background-size: 432px 33px;
           &:hover {
               background-position: -11px 0px;
           }
       }
     }
 }



 #new-category-products {
     margin:auto;
     @include media(md) {
         width:544px;
         height:303px;
         background:url('#{$image-path}new-category-products.gif') no-repeat;
				 background-size: 524px 300px;
     }
     @include media(lg) {
        background-size: contain;
     }
 }
 .prodbycat {
     @include media(xs) {
         padding-top:14px;
         margin-left:15px;
     }
     @include media(xs-mid) {
        margin-left:10px;
     }
     @include media(sm) {
        margin-left:47px;
     }
 }

 /**
 * new Product by category
 */

 li.prod_by_cat {
     width:200px;
     position:relative;
     list-style:none;
     margin-left: auto;
     margin-right: auto;
     @include media(xs) {
         float:left;
         color:#494949;
         margin-right: 20px;
     }
     @include media(xs-mid) {
        width: 193px;
        margin-right: 8px;
     }
     @include media(sm) {
        width:200px;
        margin-right: 45px;
     }
 }
 .prod_by_cat .prod_by_cat_image img {
     border:1px solid #58196A;
     max-width: 100%;
     height: auto;
 }


 .right {
	 	float: left;
		 @include media(md) {
				 float:right;
		     position:relative;
		 }
 }

.cms-home {
		// promos
		.right > .part {
					@include media(xs-mid) {
								display: none;
					}
					@include media(md) {
								display: block;
					}
		}
		// newsletter
		.right > .widget > .part {
				@include media(sm) {
							display: none;
				}
				@include media(md) {
							display: block;
				}
		}
		.right {
				float: none;
				@include media(md) {
						float: right;
				}
		}
		.part {
				 @include media(max-sm) {
							 width: 211px;
					     margin: 20px auto;
				 }
		 }
		 #wrapper-selection-lilou-products,
		 #wrapper-new-best-products {
					 li.prod_by_cat {
			 					display: inline-block;
			 			    color: #494949;
			 			    margin: 0px 10px;
			 					text-align: left;
			 					float: none;
								@include media(xs-mid) {
									 width:200px;
									 margin-left: 27px;
									 margin-right: 27px;
								}
			 					@include media(md) {
			 					    height:267px;
										margin-left: 0;
										margin-right:30px;
										display: block;
										float: left;
			 					}


			 		}
		 }
		 .left {
		 		@include media(sm) {
		 				float:left;
		 		}
		 }
		 .center {
		      @include media(sm) {
		          width:515px;
		          margin-left: 10px;
		      }
		}
		.right .widget-static-block {
				width: 211px;
		}
}


/*
* Selection lilou
*/
#wrapper-selection-lilou-products {
		margin-bottom: 20px;
		margin-top: 20px;
		@include media(md) {
				width:958px;
		    margin: auto;
		}
		h3.title {
		    font-size:16px;
		    text-align:center;
		    padding-top:6px;
		    padding-bottom:7px;
		    margin-bottom:0px;
    		background-image: linear-gradient(to bottom, #f6eb9d, #f0df89, #e9d376, #e4c763, #debb4f);
				border-radius: 10px;
				@include media(md) {
							border-radius: 0;
							width: 544px;
							margin:auto;
							background:url('#{$image-path}bestseller_bg.png') no-repeat;
				}
		}
}

#prodbycat_categ_prodsel-lilouselection{
    padding-top: 30px;
		padding-bottom: 30px;
		background-image: linear-gradient(to bottom, #601c75, #58186d, #511465, #49115d, #420d55);
		border-radius: 10px;
		@include media(md) {
				padding-top: 10px;
				padding-bottom: 0;
				border-radius: 0;
				background:url('#{$image-path}lilou-selection.gif') no-repeat;
		    width:956px;
		    height:267px;
		}
}

#prodsel-lilouselection {
		@include clearfix;
		text-align: center;
		@include media(lg) {
				margin-left:33px;
				text-align: left;
		}
}

/*
* Best seller
*/

#wrapper-new-best-products {
		@include media(md) {
					width:525px;
			    height:358px;
			    margin:auto;
			    background:url('#{$image-path}bestseller_bg.png') no-repeat;
					background-size: 526px 345px;
		}
		@include media(lg) {
					width:544px;
					background-size: contain;
		}
		h3.title {
		    font-size:16px;
		    text-align:center;
		    padding-top:7px;
		    padding-bottom:7px;
		    margin-bottom:18px;
				@include media(max-md) {
						background-image: linear-gradient(to bottom, #f6eb9d, #f0df89, #e9d376, #e4c763, #debb4f);
						border-radius: 10px;
				}
		}
		.prodbest {
				@include media(md) {
						margin-left:47px;
				}
				@include media(max-sm) {
						text-align: center;
				}
		}
		li.prod_by_cat {
				@include media(max-sm) {
						margin-bottom: 20px;
				}
		}
}



/*the blocks*/

#titre-new-category-products{
    position:relative;
    font-family:Candara,Arial;
    color:#611d73;
    font-size:21px;
    font-weight:bold;
    text-indent:10px;
		text-align: center;
    margin-bottom: 10px;
		@include media(sm) {
				text-align: left;
				margin-bottom: 0;
    		float:left;
		}
}

#onglets {
    float:right;
    position:relative;
    margin-right:10px;
		@include media(max-xs) {
			margin-bottom: 12px;
			margin-top: 10px;
		}
		a {
		    font-weight:bold;
		    color:#000;
		    text-decoration:none;
		    cursor:pointer;
				font-size: 11px;
				@include media(xs) {
						font-size: 13px;
				}
		}
}
