//== Mixins

// e.g
// @include clearfix;

@mixin clearfix() {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}

	*zoom: 1; // or IE 6/7 only
}

@mixin inline(){
	display: inline-block;
	*display: inline; // or IE 6/7 only
	zoom: 1;
}

@mixin border-radius($radius: $default-border-radius) {
	-webkit-border-radius: $radius;
		 -moz-border-radius: $radius;
			-ms-border-radius: $radius;
					border-radius: $radius;
}

@mixin media($width) {
	@if $width == 'xs' {
			@media (min-width: 480px) { @content; }
	} @else if $width == 'xs-mid' {
			@media (min-width: 640px) { @content; }
	} @else if $width == 'sm' {
			@media (min-width: 768px) { @content; }
	} @else if $width == 'md' {
			@media (min-width: 992px) { @content; }
	} @else if $width == 'lg' {
			@media (min-width: 1200px) { @content; }
	} @else if $width == 'max-xs' {
			@media (max-width: 479px) { @content; }
	} @else if $width == 'max-xs-mid' {
			@media (max-width: 640px) { @content; }
	} @else if $width == 'max-sm' {
			@media (max-width: 767px) { @content; }
	} @else if $width == 'max-md' {
			@media (max-width: 991px) { @content; }
	} @else if $width == 'max-lg' {
			@media (max-width: 1199px) { @content; }
	} @else if $width == 'between-xs-sm' {
			@media (min-width: 480px) and (max-width: 767px) { @content;  }
	} @else if $width == 'between-xsmid-sm' {
			@media (min-width: 640px) and (max-width: 767px) { @content;  }
	} @else if $width == 'between-xsmid-md' {
			@media (min-width: 640px) and (max-width: 991px) { @content;  }
	} @else if $width == 'between-sm-md' {
			@media (min-width: 768px) and (max-width: 991px) { @content;  }
	} @else if $width == 'between-sm-lg' {
			@media (min-width: 768px) and (max-width: 1199px) { @content;  }
	} @else if $width == 'between-md-lg' {
			@media (min-width: 992px) and (max-width: 1199px) { @content;  }
	}
}

@mixin hover-focus() {
	&:hover,
	&:focus {
		@content;
	}
}
