#menu ul li.level0 > a{
		display:block;
		color:#fff;
		text-decoration:none;
		font-family:Arial, Helvetica, sans-serif;
		font-weight:bold;
		cursor:pointer;
		font-size: 10px;
		@include media(lg) {
				font-size: 13px;
		}
}
#menuwrapper {
		@include media(max-sm) {
					display: none;
		}
}
#mobile-menu {
		@include media(sm) {
					display: none;
		}
		position: absolute;
		width: 100%;
		top: 20px;
		.slicknav_menu {
				background: transparent;
		}
		.slicknav_btn {
				margin: 5px 5px 20px;
				background-color: #580770;
		}
		.slicknav_nav {
				background-image: linear-gradient(to bottom, #4f1364, #4c1160, #48105c, #450e59, #420d55);
				position: relative;
				z-index: 3;
				padding: 10px 0px;
				> ul {
						margin-left: 0;
				}
		}
}
