body {
	font: {
		family: $primary-font;
		size: 14px;
	}

	// margin
	.m-{
		&top {
			margin-top: 0 !important;
		}
		&bot {
			margin-bottom: 0 !important;
		}
		&right {
			margin-right: 0 !important;
		}
		&left {
			margin-left: 0 !important;
		}
	}
	// padding
	.p-{
		&top {
			padding-top: 0 !important;
		}
		&bot {
			padding-bottom: 0 !important;
		}
		&right {
			padding-right: 0 !important;
		}
		&left {
			padding-left: 0 !important;
		}
	}

}
