/* SIDEBAR */
.sidebar-navleft,
.sidebar-newsletter,
.sidebar-promo,
.sidebar-nosengagements,
.sidebar-livraisongrauite {
		border: solid 1px #d4d4d4;
		box-shadow: 3px 2px 0px 0px #e2e2e2;
		margin-bottom: 30px;
}
.sidebar-promo,
.sidebar-newsletter,
.sidebar-nosengagements,
.sidebar-livraisongrauite {
		display: none;
		@include media(sm) {
				display: block;
		}
}
.sidebar-promo,
.sidebar-newsletter,
.sidebar-nosengagements {
		h3 a {
				display: block;
				background-color: #e1e1e1;
				color: #532a62;
				padding: 13px 16px;
				text-decoration: none;
				text-transform: none;
				font-size: 16px;
				&:hover {
					text-decoration: none;
					color: #532a62;
				}
		}
}
.sidebar-nosengagements {
		ul {
				margin: 23px 10px;
				li {
						font-size: 13px;
				    margin-bottom: 15px;
				    position: relative;
				    padding-left: 20px;
						&:before {
									content: "";
							    width: 16px;
							    height: 18px;
							    display: block;
							    background-repeat: no-repeat;
							    background-size: contain;
							    background-position: top right;
							    position: absolute;
							    left: 0;
							    top: 0;
						}
						&.icon-nos1:before {
									background-image: url(#{$image-path}sidebar/icon-nos1.png);
						}
						&.icon-nos2:before {
									background-image: url(#{$image-path}sidebar/icon-nos2.png);
						}
						&.icon-nos3:before {
									background-image: url(#{$image-path}sidebar/icon-nos3.png);
						}
						&.icon-nos4:before {
									background-image: url(#{$image-path}sidebar/icon-nos4.png);
						}
						&.icon-nos5:before {
									background-image: url(#{$image-path}sidebar/icon-nos5.png);
						}
						&.icon-nos6:before {
									background-image: url(#{$image-path}sidebar/icon-nos6.png);
						}
						&.icon-nos7:before {
									background-image: url(#{$image-path}sidebar/icon-nos7.png);
						}
				}
		}
}

.sidebar-livraisongrauite {
		padding: 30px 15px;
		position: relative;
		&:before {
					content: "";
					width: 130px;
					height: 70px;
					margin: 0 auto 18px;
					display: block;
					background-repeat: no-repeat;
					background-size: contain;
					background-position: left top;
					background-image: url(#{$image-path}sidebar/icon-truck.png);
		}
		h3 {
			font-size: 12px;
	    text-transform: none;
		}
}

/* newsletter */
.sidebar-newsletter {
		&-content {
				position: relative;
				padding: 10px 16px 5px;
				form {
					margin-top: 5px;
					> img {
							position: absolute;
							top: -10px;
							right: 3px;
							+ p {
										color: #611c71;
										font: {
												size: 12px;
												family: 'Arial';
										}
										width: 120px;
										margin-bottom: 0;
							}
					}
					button,
					input[type='email'] {
							font: {
									size: 12px;
									family: 'Arial';
							}
					}
					input[type='email'] {
							color: #707070;
							height: 46px;
							width: 100%;
							text-align: center;
							padding: 10px;
							margin: 15px 0 0;
							&:focus {
									outline: 0;
							}
					}
					button {
								background: #c2c2c2;
						    text-align: center;
						    width: 100%;
						    height: 46px;
						    color: #fff;
						    font-weight: 700;
								margin: 16px 0;
					}

				}
				p {
						color: #707070;
						margin-bottom: 16px;
				}
		}
}


.sidebar-navleft {
		@include media(max-sm) {
				display: none;
		}
		h3 {
				background-color: #e1e1e1;
				color: #532a62;
				padding: 13px 16px;
				text-transform: none;
				font-size: 16px;
		}
		dl {
				dt {
						color: #450c56;
						text-transform: uppercase;
						position: relative;
						padding-left: 30px;
						padding-top: 22px;
						border-top: solid 1px #e2e2e2;
						font: {
								size: 12px;
						    weight: 700;
						    family: 'arial';
						}
						&:before {
									content: "";
									width: 6px;
									height: 9px;
									display: block;
									background: url(#{$image-path}sidebar/icon-arrowright.png) no-repeat;
									background-size: contain;
									position: absolute;
							    left: 19px;
							    top: 24px;
						}
				}
				dd {
					  padding: 22px 15px 10px 19px;
						ol li {
								margin-bottom: 18px;
								> a {
											color: #000;
											text-decoration: none;
											font: {
													size: 12px;
													family: 'arial';
											}
											&:hover {
													color: #681c7e;
													font-weight: 700;
											}
											span.brands-cell,
											span.count {
													margin-left: 0;
													float: none;
													display: inline-block;
											}
								}
						}
				}
		}
}

/* promo */
.sidebar {
			&-promo {
					height: 407px;
					&content {
								h5 a {
											color: #440c54;
									    text-decoration: none;
									    font-size: 13px;
									    font-weight: bold;
											display: block;
											padding: 15px 8px;
								}
					}
			}
			&-promoimage {
				text-align: center;
				margin-bottom: 15px;
			}
			&-promodesc {
					padding: 0 15px;
					> .price-box {
							margin-top: 15px;
					}
			}
}
.cms-home .sidebar-promo {
		width: 211px;
}
