<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<?php if (!$this->getButtonOnly()) { ?>
    <div class="discount">
        <h2><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap'); ?></h2>

        <div class="discount-form">
            <?php if ($this->getDesign() || $this->getCard()) { ?>
                <!-- Already selected options list -->
                <div class="amgiftwrap-cart-button-text"><?php echo Mage::helper('amgiftwrap')->__('Options:'); ?>
                    <ul>
                        <?php if ($this->getDesign()->getName()) { ?>
                            <li><?php echo $this->getDesign()->getName(); ?></li><?php } ?>
                        <?php if ($this->getCard()->getName()) { ?>
                            <li><?php echo $this->getCard()->getName(); ?></li><?php } ?>
                        <?php if ($this->getSeparateWrap() == 1) { ?>
                            <li><?php echo Mage::helper('amgiftwrap')->__('Wrap separately'); ?></li><?php } ?>
                    </ul>
                </div>
            <?php } ?>

            <label for="showGiftWrapPopUpButton"><?php echo Mage::helper('amgiftwrap')->__('You can configure Gift Wrap options here'); ?></label>

            <div class="checkout-types bottom method-checkout-cart-methods-onepage-bottom">
                <button type="button" id="showGiftWrapPopUpButton"
                        title="<?php echo Mage::helper('amgiftwrap')->__('Show Gift Wrap Options'); ?>" class="button" value="<?php echo Mage::helper('amgiftwrap')->__('Show Gift Wrap Options'); ?>">
                    <span><?php echo Mage::helper('amgiftwrap')->__('Show Gift Wrap Options'); ?></span>
                </button>
            </div>
        </div>
    </div>
<?php } else { ?>
    <div class="amgiftwrap-cart-button">
        <button type="button" id="showGiftWrapPopUpButton"
                title="<?php echo Mage::helper('amgiftwrap')->__('Show Gift Wrap Options'); ?>" class="button"
                value="<?php echo Mage::helper('amgiftwrap')->__('Show Gift Wrap Options'); ?>">
            <span><?php echo Mage::helper('amgiftwrap')->__('Show Gift Wrap Options'); ?></span>
        </button>
    </div>
<?php } ?>

<script type="text/javascript">
    var amgiftwrap_save_form_data_url = "<?php echo Mage::getUrl("giftwrap/index/saveFormData", array('_secure' => $this->getRequest()->isSecure()))?>";
    var amgiftwrap_only_button = '<?php echo $this->getButtonOnly() ? 1 : 0?>';
    var amgiftwrap_design_id = '<?php echo Mage::getSingleton('checkout/session')->getQuote()->getAmgiftwrapDesignId();?>';
    var amgiftwrap_card_id = '<?php echo Mage::getSingleton('checkout/session')->getQuote()->getAmgiftwrapCardId();?>';

    $j(document).ready(function () {
        /*
         *   delete default "Gift Message" boxes
         */
        $j('#onepage-checkout-shipping-method-additional-load').remove();

        /*
         *   process GiftWrap buttons and show PopUp calls
         */
        $j('#showGiftWrapPopUpButton').click(function () {
            $j.fancybox('<div class="amgiftwrap-loader"><img src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB);?>media/amasty/amgiftwrap/loader.gif"><div>');
            $j.ajax({
                type: "POST",
                url: "<?php echo Mage::getUrl("giftwrap/index/getFormHtml", array('_secure' => $this->getRequest()->isSecure()))?>"
            })
                .done(function (data) {
                    $j.fancybox(data);

                    /*
                     *  enable tabs
                     */
                    (function () {
                        $j('.tabs').each(function (index, el) {
                            new CBPFWTabs(el);
                        });
                    })();

                    /*
                     *  select & apply stored data
                     */
                    if (amgiftwrap_design_id) {
                        $j('.ca-choose.design[data-value="' + amgiftwrap_design_id + '"]').click();
                    }
                    if (amgiftwrap_card_id) {
                        $j('.ca-choose.card[data-value="' + amgiftwrap_card_id + '"]').click();
                    }
                });
        });
    });
</script>
