<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<?php
// temp variable for loop
$num    = 1;
$card   = 0;
$design = 0;
// temp variable for tabs style switcher (some tabs can be removed or swapped)
$tabClass = '';
// images width & height for right adjustment
$imgWidth  = Mage::getStoreConfig('amgiftwrap/general/image_width');
$imgHeight = Mage::getStoreConfig('amgiftwrap/general/image_height');
// separate wrap checkbox value
$separate_wrap = Mage::getSingleton('checkout/session')->getQuote()->getAmgiftwrapSeparateWrap();
// description length limitations via System -> Config
$descLength = Mage::getStoreConfig('amgiftwrap/general/short_description_length', Mage::app()->getStore());
// "allow" options via System -> Config
$allowSeparate = Mage::getStoreConfig('amgiftwrap/general/allow_separate_wrap', Mage::app()->getStore());
$allowMessage  = Mage::getStoreConfig('amgiftwrap/general/allow_message_card', Mage::app()->getStore());
// cart items count
$cartItems = Mage::getSingleton('checkout/cart')->getItemsCount();
// disabled for giftwrap items
$cartItemsDisabled = count(Mage::helper('amgiftwrap')->getGiftWrapDisabledItems());
// total items allowed for giftwrap
$cartItemsAllowed = ($cartItems - $cartItemsDisabled > 0) ? true : false;
// message card collection array
$cardsArray = $this->getCardCollection();
// gift wrap designs array
$designArray = $this->getDesignCollection();

$displayType = Mage::getStoreConfig('amgiftwrap/tax/cart_display');
?>
<div class="amgiftwrap-popup-content">
<form id="amgiftwrap_popup_form" name="amgiftwrap_popup_form" method="post">

<div style="display:none">
    <input type="hidden" name="gift-message-whole-enabled" id="gift-message-whole-enabled" value="0">
    <input type="text" name="gift-message-whole-from" id="gift-message-whole-from" title="From"
           value="<?php echo $this->getGiftMessage()->getSender(); ?>" class="input-text">
    <input type="text" name="gift-message-whole-to" id="gift-message-whole-to" title="To"
           value="<?php echo $this->getGiftMessage()->getRecipient(); ?>" class="input-text">
    <textarea class="input-text giftmessage-area" name="gift-message-whole-message" id="gift-message-whole-message" title="Message" rows="5"
              cols="25"><?php echo $this->getGiftMessage()->getMessage(); ?></textarea>
</div>

<div class="tabs tabs-style-flip">

<nav>
    <ul>
        <?php if (count($designArray) > 0 && $cartItemsAllowed) { // if there are some allowed for giftwrap items && there are some design cards?>
            <li class="tab-current">
                <a href="#section-flip-1" class="icon icon-plane"><span><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap'); ?></span></a>
            </li>
        <?php
        } else {
            $tabClass = 'tab-current';
        } ?>

        <?php if (count($cardsArray)) { // if any message card exists place the tab ?>
            <li class="<?php echo $tabClass; ?>">
                <a href="#section-flip-2" class="icon icon-date"><span><?php echo Mage::helper('amgiftwrap')->__('Message Cards'); ?></span></a>
            </li>
            <?php
            $tabClass = '';
        } else if (!count($designArray)) { // if there are no designs - mark Message Card as the first tab
            $tabClass = 'tab-current';
        } ?>

        <?php if ($allowSeparate && $cartItemsAllowed && count($designArray) > 0) { // if any allowed items are in cart && we allow separate wrap via admin panel ?>
            <li class="<?php echo $tabClass ?>">
                <a href="#section-flip-3" class="icon icon-date"><span><?php echo Mage::helper('amgiftwrap')->__('Separate Wrap'); ?></span></a>
            </li>
        <?php } ?>

        <?php if ($cartItemsDisabled) { // if any item disabled for giftwrap is in cart ?>
            <li class="">
                <a href="#section-flip-4" class="icon icon-date"
                   style="color:red;"><span><?php echo Mage::helper('amgiftwrap')->__('Items Not Available For Gift Wrap'); ?></span></a>
            </li>
        <?php } ?>
    </ul>
</nav>


<div class="content-wrap">
<!-- Giftwrap Designs Start-->
<?php if (count($designArray) && $cartItemsAllowed) { ?>
    <section id="section-flip-1" class="content-current">
        <?php if ($cartItemsDisabled) { ?>
            <!--            <a href="#section-flip-4" class="section-flip-last icon icon-date" style="">-->
                <div id="messages">
                    <ul class="messages">
                        <li class="notice-msg">
                            <ul>
                                <li><span>
                                        <?php echo Mage::helper('amgiftwrap')->__('Some of your items are not available for Gift Wrap. <a href="#" class="section-flip-last" id="amgiftwrap_disabled_items_link">Show disabled items</a>'); ?>
                                    </span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            <!--            </a>-->
        <?php } ?>

        <!-- giftwrapDesign Content Start-->
        <div id="design-container" class="ca-container">
            <div class="ca-wrapper">
                <!-- Slider Output Start-->
                <?php foreach ($designArray as $design) { ?>
                    <div class="ca-item ca-item-<?php echo $design->getDesignId(); ?>">
                        <div class="ca-item-main">
                            <span class="ca-number"><?php echo $num++; ?></span>
                            <span class="ca-price"><?php echo $displayType
                                    ? Mage::helper('core')->currency($design->getTaxPrice(), true, true)
                                    : Mage::helper('core')->currency($design->getPrice(), true, true) ?></span>

                            <div class="ca-icon"
                                 style="background-image: url(<?php echo Mage::helper('amgiftwrap')->getImageThumbnail($design->getImage(), 'design'); ?>);"></div>
                            <h3><?php echo $design->getName(); ?></h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span><?php echo Mage::helper('core/string')->truncate($design->getDescription(), $descLength); ?></span>
                            </h4>
                            <a href="#" class="ca-more"><?php echo Mage::helper('amgiftwrap')->__('more...'); ?></a>
                            <a href="#" class="ca-choose design" data-type="design"
                               data-value="<?php echo $design->getDesignId(); ?>"><?php echo Mage::helper('amgiftwrap')->__('Select'); ?></a>
                        </div>
                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6><?php echo $design->getName(); ?></h6>
                                <a href="#" class="ca-close">close</a>

                                <div class="ca-content-text">
                                    <p><?php echo nl2br($design->getDescription()); ?></p>
                                </div>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <!-- Slider Output End-->
            </div>
            <button id="amgiftwrap_design_clear"><?php echo $this->__('Clear Selection') ?></button>
        </div>
        <!-- giftwrapDesign Content End-->
    </section>
<?php
} else {
    $tabClass = 'tab-current';
} ?>
<!-- Giftwrap Designs End-->

<?php $num = 1; ?>
<?php if (count($cardsArray)) { ?>
    <section id="section-flip-2" class="<?php echo $tabClass; ?>">
        <?php if (!count($designArray) && $cartItemsDisabled) { ?>
            <a href="#section-flip-4" class="section-flip-last icon icon-date" style="">
                <div id="messages">
                    <ul class="messages">
                        <li class="notice-msg">
                            <ul>
                                <li><span>
                                        <?php echo Mage::helper('amgiftwrap')->__('Some of your items are not available for Gift Wrap. <a href="#" id="amgiftwrap_disabled_items_link">Show disabled items</a>'); ?>
                                    </span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </a>
        <?php } ?>
        <div id="card-container" class="ca-container">
            <div class="ca-wrapper">
                <?php foreach ($cardsArray as $card) { ?>
                    <div class="ca-item ca-item-<?php echo $card->getCardsId(); ?>">
                        <div class="ca-item-main">
                            <span class="ca-number"><?php echo $num++; ?></span>
                            <span class="ca-price"><?php echo Mage::helper('core')->currency($card->getPrice(), true, false); ?></span>

                            <div class="ca-icon"
                                 style="background-image: url(<?php echo Mage::helper('amgiftwrap')->getImageThumbnail($card->getImage(), 'cards'); ?>);"></div>
                            <h3><?php echo $card->getName(); ?></h3>
                            <h4>
                                <span class="ca-quote">“</span>
                                <span><?php echo Mage::helper('core/string')->truncate($card->getDescription(), $descLength); ?></span>
                            </h4>
                            <a href="#" class="ca-more"><?php echo Mage::helper('amgiftwrap')->__('more...'); ?></a>
                            <a href="#" class="ca-choose card" data-type="card"
                               data-value="<?php echo $card->getCardsId(); ?>"><?php echo Mage::helper('amgiftwrap')->__('Select'); ?></a>
                        </div>

                        <div class="ca-content-wrapper">
                            <div class="ca-content">
                                <h6><?php echo $card->getName(); ?></h6>
                                <a href="#" class="ca-close">close</a>
                            </div>

                            <div class="ca-content-text">
                                <p><?php echo nl2br($card->getDescription()); ?></p>
                            </div>

                            <?php if (Mage::getStoreConfig('sales/gift_options/allow_order')) { ?>
                                <!--
                                    There are one form for each Message Card
                                     but all of them are "fake" hooks that hold data for real form
                                     which is hidden
                                -->
                                <div id="section-flip-5" class="">
                                    <div class="amgiftwrap-text">
                                        <?php echo $this->__('This text will be printed on the Message Card you select.') ?>
                                    </div>
                                    <ul class="form-list">
                                        <li class="fields">
                                            <div class="field">
                                                <label for="gift-message-whole-from-hook"><?php echo Mage::helper('amgiftwrap')->__('From'); ?></label>

                                                <div class="input-box">
                                                    <input type="text" name="gift-message-whole-from-hook" title="From"
                                                           value="<?php echo $this->getGiftMessage()->getSender(); ?>" class="input-text">
                                                </div>
                                            </div>
                                            <div class="field">
                                                <label for="gift-message-whole-to-hook"><?php echo Mage::helper('amgiftwrap')->__('To'); ?></label>

                                                <div class="input-box">
                                                    <input type="text" name="gift-message-whole-to-hook" title="To"
                                                           value="<?php echo $this->getGiftMessage()->getRecipient(); ?>" class="input-text">
                                                </div>
                                            </div>
                                        </li>
                                        <li class="wide">
                                            <label for="gift-message-whole-message-hook"><?php echo Mage::helper('amgiftwrap')->__('Message'); ?></label>

                                            <div class="input-box">
                                                <textarea class="input-text giftmessage-area" name="gift-message-whole-message-hook"
                                                          title="Message"><?php echo $this->getGiftMessage()->getMessage(); ?></textarea>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            <?php } ?>
                        </div>
                    </div>
                <?php } ?>
            </div>
            <button id="amgiftwrap_message_cards_clear"><?php echo $this->__('Clear Selection') ?></button>
        </div>
    </section>
    <?php
    $tabClass = '';
} else if (!count($designArray)) {
    $tabClass = 'tab-current';
} ?>

    <?php if ($allowSeparate && $cartItemsAllowed && count($designArray) > 0) { ?>
    <section id="section-flip-3" class="<?php echo $tabClass; ?>">
        <div class="amgiftwrap-fieldset" style="text-align: left; padding: 10px;display: inline-block;">
            <div style="float: left;width: 35%;display: block;"><img
                    src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); ?>/media/amasty/amgiftwrap/gifts.jpg"
                    height="455px"/></div>
            <div style="padding:20px;float: left;width: 60%;display: block;">
                <div class="amgiftwrap-fieldset" style="padding-top:20px;padding-bottom: 20px;font-weight: bold;">
                    <input name="amgiftwrap_separate_wrap" id="amgiftwrap_separate_wrap"
                           type="checkbox" <?php echo $separate_wrap ? 'checked="checked"' : '' ?>/>
                    <label for="amgiftwrap_separate_wrap"><?php echo Mage::helper('amgiftwrap')->__('Wrap each product separately'); ?></label>
                </div>
                <p>&nbsp;</p>

                <p>
                    <?php echo $this->__('If you want we can wrap each item of your order separately. You can choose one of our designs to wrap them and we will
                    carefully pack all your stuff with nicely done first class gift wrapping paper.') ?>
                </p>

                <p>&nbsp;</p>

                <p>
                    <?php echo $this->__('You can be sure that your present will make a special impression. Each gift is wrapped in accordance with your request to
                    fit you or your recipient’s own style. Your family and friends will definitely see the forethought and care you put
                    into their gift.') ?>
                </p>
            </div>
        </div>
    </section>
<?php } ?>
<?php if ($cartItemsDisabled) { ?>
    <section id="section-flip-4" class="" style="height: 465px;text-align: left;">
        <div class="amgiftwrap-heading"><?php echo $this->__('Please be aware that following items in your order could NOT be wrapped:') ?></div>
        <p></p>

        <div class="amgiftwrap-list">
            <ul>
                <?php foreach ($this->getDisabledItems() as $item) { ?>
                    <li><a class="amgiftwrap-disabled-product" href="#"><?php echo $item->getName(); ?></a></li>
                <?php } ?>
            </ul>
        </div>
    </section>
<?php } ?>
</div>
</div>

<div class="amgiftwrap-fieldset">
    <button id="amgiftwrap_popup_form_save_button"><?php echo $this->__('Apply Gift Wrap Changes') ?></button>
</div>

<input type="hidden" name="amgiftwrap_design_id" id="amgiftwrap_design_id" value="0">
<input type="hidden" name="amgiftwrap_card_id" id="amgiftwrap_card_id" value="0">

</form>

<div class="amgiftwrap-fieldset" id="amgiftwrap_popup_form_answer"></div>
</div>

<script language="text/javascript">
    $j('#design-container').contentcarousel();
    $j('#card-container').contentcarousel();
</script>