<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2018 Amasty (https://www.amasty.com)
 * @package Amasty_Giftwrap
 */
?>
<?php $column = 2; ?>
<div class="col2-set order-info-box">
    <?php if ($this->getOrder()->getAmgiftwrapDesignId() > 0) { ?>
        <div class="col-1">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo Mage::helper('amgiftwrap')->__('Gift Wrap'); ?></h2>
                </div>
                <div class="box-content">
                    <table>
                        <tr>
                            <td style="padding-right:50px;">
                                <strong><?php echo Mage::helper('amgiftwrap')->__('Design'); ?>: </strong>
                                <span><?php echo($this->getDesign()->getName() ? $this->getDesign()->getName() : Mage::helper('amgiftwrap')->__('Deleted design')); ?></span>
                            </td>
                            <td>
                                <img width="70px" src="<?php echo Mage::helper('amgiftwrap')->getImageThumbnail($this->getDesign()->getImage(), 'design'); ?>">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <strong><?php echo Mage::helper('amgiftwrap')->__('Separate note'); ?>: </strong>
                <span
                    class="price"><?php echo $this->getOrder()->getAmgiftwrapSeparateWrap() ? Mage::helper('amgiftwrap')->__('wrap each item separately') : Mage::helper('amgiftwrap')->__('wrap all items in one gift'); ?></span>
            </div>
        </div>
    <?php
    } else {
        $column = 1;
    } ?>
    <?php if ($this->getOrder()->getAmgiftwrapCardId() > 0) { ?>
        <div class="col-<?php echo $column; ?>">
            <div class="box">
                <div class="box-title">
                    <h2><?php echo Mage::helper('amgiftwrap')->__('Message Card'); ?></h2>
                </div>
                <div class="box-content">
                    <table>
                        <tr>
                            <td style="padding-right:50px;">
                                <strong><?php echo Mage::helper('amgiftwrap')->__('Design'); ?>: </strong>
                                <span><?php echo($this->getCard()->getName() ? $this->getCard()->getName() : Mage::helper('amgiftwrap')->__('Deleted message card')); ?></span>
                            </td>
                            <td>
                                <img width="70px" src="<?php echo Mage::helper('amgiftwrap')->getImageThumbnail($this->getCard()->getImage(), 'cards'); ?>">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    <?php } ?>
</div>